<apex:page controller="array1" >
  <apex:form >
  <apex:pageBlock >
  <apex:pageblockTable value="{!myval}" var="a">
  <apex:column value="{!a}"/>
   </apex:pageblockTable>
   <apex:outputLabel >
   {!name}
   </apex:outputLabel>
  </apex:pageBlock>
  </apex:form>
</apex:page>