<apex:page showHeader="false" standardController="job__c">
  <center>
    <head>
    <style type="text/css">
     h1{color:blue;}
     h2{color:red;}
     p{color:green;}
     </style>
     </head>
     <div style="letter-spacing:8px;"><h1>We believe having right people  right time  right place  right value</h1></div>
     <br/><br/>
     <h2>employes looking for a change</h2><br/>
     <p>submit your resume below or email us to enjoy@lifestyle.com </p>
      <apex:form >
      <apex:pageblock >
      <apex:pageblockSection columns="1">
      <apex:outputLabel ><h1>first name</h1><apex:inputtext value="{!job__c.firstname__c}"/></apex:outputLabel> <br/>
      <apex:outputlabel >last name<apex:inputtext value="{!job__c.lastname__c}" /></apex:outputlabel><br/>
      <apex:outputLabel >genders&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<apex:selectList size="1" value="{!job__c.gender__c}">
      <apex:selectOption itemValue="M" />
      <apex:selectOption itemValue="F" />
     </apex:selectList> 
    </apex:outputLabel><br/>
    <apex:outputlabel >email adrs<apex:inputtext value="{!job__c.email_adress__c}" /></apex:outputlabel><br/>
    <apex:outputlabel >contact no<apex:inputtext value="{!job__c.contactnumber__c}" /></apex:outputlabel><br/>
    <apex:outputlabel >job type&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<apex:selectList size="1"  value="{!job__c.job_type__c}" >
    <apex:selectOption itemValue="--none--" value="{!job__c.job_type__c}" />
    <apex:selectOption itemValue="permanent" value="{!job__c.job_type__c}" />
    <apex:selectOption itemValue="contract" value="{!job__c.job_type__c}" />
    <apex:selectOption itemValue="frelancer" value="{!job__c.job_type__c}" />
   </apex:selectList>
  </apex:outputlabel><br/>
  <apex:outputLabel >role&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;<apex:selectList size="1" value="{!job__c.role__c}">
  <apex:selectOption itemValue="--none--"  value="{!job__c.role__c}"/>
  <apex:selectOption itemValue="developer" value="{!job__c.role__c}" />
  <apex:selectOption itemValue="adminstrator" value="{!job__c.role__c}" />
  <apex:selectOption itemValue="consultant"  value="{!job__c.role__c}"/>
  </apex:selectList>
 </apex:outputLabel>
 <apex:outputlabel >postur cv<apex:inputtextarea value="{!job__c.post_ur_resume__c}" /></apex:outputlabel> 
 <apex:commandButton value="save" action="{!save}" />
</apex:pageblockSection>
</apex:pageblock>
</apex:form>
</center>
</apex:page>