<apex:page controller="login" sidebar="false" >
 <apex:form >
 <apex:pageblock >
  
  <apex:pageblockSection columns="1">
   <apex:outputLabel ><h1>user id&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h1><apex:inputtext /></apex:outputLabel>
   <apex:outputLabel ><h1>password</h1><apex:inputsecret /></apex:outputLabel>
  <apex:commandButton value="login" action="{!login}"/>
  </apex:pageblockSection>
  </apex:pageblock>
</apex:form>
</apex:page>