<apex:page controller="DynamicTableController"> 
<apex:pageBlock > 
    <apex:form > 
        <apex:actionFunction name="ObjectFileds" action="{!ObjectFields}"/> 
         
        <apex:commandButton value="Show Table" action="{!ShowTable}"/> 
         
        <apex:pageBlockSection > 
            <apex:pageBlockSectionItem > 
                <apex:outputLabel value="Select Object"/> 
                <apex:selectList multiselect="false" size="1" value="{!SelectedObject}" onchange="ObjectFileds();"> 
                    <apex:selectOption itemLabel="--None--" itemValue="--None--"/> 
                    <apex:selectoptions value="{!supportedObject}" /> 
                </apex:selectlist> 
            </apex:pageBlockSectionItem> 
             
            <apex:pageBlockSectionItem > 
                <apex:outputLabel value="Select Field"/> 
                <apex:selectList multiselect="true" size="5" value="{!SelectedFields}"> 
                    <apex:selectOption itemLabel="--None--" itemValue="--None--"/> 
                    <apex:selectoptions value="{!fieldLableAPI}" /> 
                </apex:selectlist> 
            </apex:pageBlockSectionItem> 
             
            <apex:pageBlockTable rendered="{!IF(ObjectList.size > 0 , true , false)}" value="{!ObjectList}" var="rec"> 
                <apex:column value="{!rec.Id}" rendered="{!IF(SelectedFields.size == 0 , true, false)}"/> 
                <apex:repeat value="{!SelectedFields}" var="FieldLable"> 
                    <apex:column value="{!rec[FieldLable]}" rendered="{!IF(FieldLable != '--None--' , true, false)}"/> 
                </apex:repeat> 
            </apex:pageBlockTable> 
             
            <apex:outputPanel rendered="{!IF(ObjectList.size < 1 , true , false)}"> 
                <apex:pageMessage severity="ERROR" summary="No records to display"/> 
            </apex:outputPanel> 
             
        </apex:pageBlockSection> 
         
    </apex:form> 
</apex:pageBlock> 
</apex:page>