<apex:page standardController="Account" extensions="sample1">

     <!-- Dynamic creation of Section Header -->
    <apex:dynamicComponent componentValue="{!secHead}"/>
   
    <apex:form >
        <!-- Dynamic creation of pageBlock -->
        <apex:dynamicComponent componentValue="{!formSample}"/>
    </apex:form> 

</apex:page>