<apex:page standardController="Contact"  sidebar="false">
<apex:form >
<apex:pageblock title="Personalinformation">
<apex:pageblockSection title="Educational information" columns="1">
<apex:inputtext value="{!contact.name}"/>
<apex:inputtext value="{!contact.phone}"/>
<apex:inputtext value="{!contact.department}"/>
<apex:pageblockSection title="Adress" columns="1"/>
<apex:inputtext value="{!contact.email}"/>
<apex:inputtext value="{!contact.lastname}"/>
</apex:pageblockSection>
<apex:pageBlockButtons >
<apex:commandButton action="{!save}" value="save"/>>
</apex:pageBlockButtons>>
</apex:pageblock>
</apex:form>
</apex:page>