<apex:page controller="ans3" sidebar="false" showHeader="false">
 <head>
  <style>
   body
   {
   background-color:#00FFFF;
    }
   </style>
  </head>
 <apex:form >
  <apex:outputLabel value="Which of the following represents controller in Model - View - Controller Model?"/>
       <script>
        function av10(){
        alert('Apex Classes ');
        }   
       </script>
        <br/><br/>
         <apex:outputLabel value="Answer:"/>
          <apex:outputLabel value="{!ans10}"/>
           <br/><br/>
            <apex:commandButton value="submit" action="{!ans10}" onclick="av10()"/>
    
     <br/><br/>
      <apex:outputLabel value="12)Which of the following is not the Return Type for Formula Fields?"/>
       <script>
        function av11(){
        alert(' Radio Button ');
        }   
       </script>
        <br/><br/>
         <apex:outputLabel value="Answer:"/>
          <apex:outputLabel value="{!ans11}"/>
           <br/><br/>
            <apex:commandButton value="submit" action="{!ans11}" onclick="av11()"/>
            
     <br/><br/>
      <apex:outputLabel value="13)Which of the following can not be a Dependent Picklist?"/>
       <script>
        function av12(){
        alert('Checkbox');
       }   
       </script>
        <br/><br/>
         <apex:outputLabel value="Answer:"/>
          <apex:outputLabel value="{!ans12}"/>
           <br/><br/>
            <apex:commandButton value="submit" action="{!ans12}" onclick="av12()"/>
    
     <br/><br/>
      <apex:outputLabel value="14)Can Data Loader be run through the Command Line?"/>
       <script>
        function av13(){
        alert('yes');
       }   
       </script>
        <br/><br/>
         <apex:outputLabel value="Answer:"/>
          <apex:outputLabel value="{!ans13}"/>
           <br/><br/>
            <apex:commandButton value="submit" action="{!ans13}" onclick="av13()"/>
   
     <br/><br/>
      <apex:outputLabel value="15)Which of the following can not be done via Workflow?"/>
       <script>
        function av14(){
        alert('create an event');
       }   
       </script>
        <br/><br/>
         <apex:outputLabel value="Answer:"/>
          <apex:outputLabel value="{!ans14}"/>
           <br/><br/>
            <apex:commandButton value="submit" action="{!ans14}" onclick="av14()"/>
    
     <br/><br/>
      <apex:outputLabel value="16)Which of the following is not a correct statement?"/>
       <script>
        function av15(){
        alert('Tags can be enabled by enabling Tags permission for the Profiles');
        }   
       </script>
        <br/><br/>
         <apex:outputLabel value="Answer:"/>
          <apex:outputLabel value="{!ans15}"/>
           <br/><br/>
             <apex:commandButton value="submit" action="{!ans15}" onclick="av15()"/>
    
     <br/><br/>
      <apex:outputLabel value="17)Encrypted fields are editable regardless of whether
                      the user has the“View Encrypted Data”permission."/>
       <script>
        function av16(){
        alert('true');
         }   
       </script>
        <br/><br/>
         <apex:outputLabel value="Answer:"/>
          <apex:outputLabel value="{!ans16}"/>
           <br/><br/>
            <apex:commandButton value="submit" action="{!ans16}" onclick="av16()"/>
    
      <br/><br/>
       <apex:outputLabel value="18)Which of the following can not be translated via Translation Workbench?"/>
        <script>
         function av17(){
         alert('report name');
         }   
       </script>
        <br/><br/>
         <apex:outputLabel value="Answer:"/>
          <apex:outputLabel value="{!ans17}"/>
           <br/><br/>
            <apex:commandButton value="submit" action="{!ans17}" onclick="av17()"/>
    
      <br/><br/>
       <apex:outputLabel value="19)Roll Up Summary fields work in which kind of relationship?"/>
        <script>
         function av18(){
         alert('master-detail relationship');
         }   
        </script>
         <br/><br/>
          <apex:outputLabel value="Answer:"/>
            <apex:outputLabel value="{!ans18}"/>
             <br/><br/>
              <apex:commandButton value="submit" action="{!ans18}" onclick="av18()"/>
    
      <br/><br/>
       <apex:outputLabel value="20)Which functionality cannot
                    be achieved by final rejection action in an Approval Process?"/>
        <script>
         function av19(){
         alert(' Delete the Record ');
          }   
        </script>
         <br/><br/>
          <apex:outputLabel value="Answer:"/>
           <apex:outputLabel value="{!ans19}"/>
            <br/><br/>
             <apex:commandButton value="submit" action="{!ans19}" onclick="av19()"/>
            </apex:form>
          
</apex:page>