<apex:page controller="signin" >
<apex:form >
 <apex:pageblock >
  <apex:pageblockSection columns="1">
   <apex:outputLabel ><h1>user id&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h1><apex:inputtext value="{!username}"  /></apex:outputLabel>
   <apex:outputLabel ><h1>password</h1><apex:inputsecret value="{!paswrd}" /></apex:outputLabel>
  <apex:commandButton value="signin" action="{!signin}"/>
  </apex:pageblockSection>
  </apex:pageblock>
</apex:form>



  </apex:page>