<apex:component >
      <div id="footer-wrapper">
          <footer id="main-footer">
              <section class="links clearfix">
                  <a href="#">Privacy Statement</a>
                  <a href="#">Terms Conditions</a>
              </section>
              © 2016 Honeywell International Inc
          </footer>
      </div>  
</apex:component>