<apex:page showHeader="false" controller="LCBS_EULADistributor_Controller" cache="false" standardStylesheets="false">
<apex:form id="form">
  <apex:pageMessages id="catchmessage" />
 
 <html> 
        <apex:includescript value="https://code.jquery.com/jquery-1.11.1.min.js" / >
<script>
          function buttonState()
          {
           //alert('Nagarajan');
           if(document.getElementById("agree").checked == 1)
             {
              
              document.getElementById("nextstep").disabled = false; 
             }
             else
             {
              document.getElementById("nextstep").disabled = true;
             }
          }  
</script>
        <apex:outputPanel id="parentpanel">
        <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="description" content=""/>
        <meta name="author" content=""/>
        <link rel="icon" href="../../favicon.ico"/>

        <title>Honeywell LCBS Contractor Portal: Contractor Agreement</title>

        <!-- Bootstrap core CSS -->
        <link href="css/bootstrap.min.css" rel="stylesheet"/>
        <link href="css/sticky-footer.css" rel="stylesheet"/>

        <!-- Custom styles for Honeywell LCBS template -->
        <link href="css/honeywell-lcbs.css" rel="stylesheet"/>

        <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
        <!--[if lt IE 9]><script src="js/ie8-responsive-file-warning.js"></script><![endif]-->
        <script src="js/ie-emulation-modes-warning.js"></script>

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <apex:stylesheet value="{!URLFOR("https://az815540.vo.msecnd.net/content/core.css")}"/>    
      <!--  <apex:stylesheet value="{!URLFOR($Resource.LCBS_CSS, 'css/bootstrap.min.css')}" />
        <apex:stylesheet value="{!URLFOR("https://az771491.vo.msecnd.net/content/honeywell.lcbs.css")}"/>
           <apex:stylesheet value="{!URLFOR("https://lcbswebapp1534.blob.core.windows.net/content/honeywell.lcbs.header.css")}"/>
        <apex:stylesheet value="{!URLFOR($Resource.LCBS_CSS, 'css/salesforce_CSS.css')}" />

        <apex:stylesheet value="{!URLFOR($Resource.LCBS_CSS, 'css/sticky-footer.css')}" /> -->
        <apex:includeScript value="{!URLFOR($Resource.LCBS_JS, 'js/bootstrap.js')}"/>
        <apex:includeScript value="{!URLFOR($Resource.LCBS_JS, 'js/bootstrap.min.js')}"/>
        <apex:includeScript value="{!URLFOR($Resource.LCBS_JS, 'js/npm.js')}"/>
        <script src="js/ie-emulation-modes-warning.js"/>
     
        <script type="text/javascript">
           function validate(){
                if (document.getElementById("agree").checked == 0){
                    alert("Please accept the terms and condition");
                }
                if(document.getElementById("agree").checked == 1)
                {
                   approveActionname();
                }
            }
       /*      function checkReading(){
              if (checkReading.read) {
              return; 
              }
              checkReading.read = this.scrollHeight - this.scrollTop === this.clientHeight;
              document.getElementById("agree").disabled =  !checkReading.read;
           }
  
           $('input[type="submit"]').removeClass('btn');
           $('input[value="Cancel"]').removeClass('btn');
           window.onload = function (){
               document.getElementById("nextstep").disabled = true;
               var Approve ='{!Approved}';
               if(Approve== 'false')
               {
                   
                   var oToBeRead = document.getElementById("rules");
                   //document.registration.check.accept.checked = false;
                   document.getElementById("agree").checked = false;
                   //alert('hi');
                   oToBeRead.parentNode.insertBefore(document.createElement("br"), oToBeRead);
                   oToBeRead.onscroll = checkReading;
                   checkReading.call(oToBeRead);
               }
              else{
                   //document.registration.accept.checked = true;
                   document.getElementById("agree").checked = true;
              }
           }*/
        </script>
        <style>
          #nextstep:disabled
         {
            color: #9f9f9f;
            background-color: #d8d8d8;
            font-family: 'Honeywell Sans Bold';
            font-size: 1em;  
            cursor: no-drop;        
         } 
         /* #nextstep {
         background:#3784DE;
         width:80px;
         margin-left:3%;
         height:30px;
         text-align:center;
         color:white;
         cursor:pointer;
         } */
          b {
         font-weight: bold;
         }
         
        </style>
        </head>

        <body>
        <apex:outputPanel id="tstpopup">
            <apex:outputPanel styleClass="popupBackground" layout="block" rendered="{!displayPopUp}"/>
            <apex:outputPanel styleClass="custPopup" layout="block" rendered="{!displayPopUp}">
                 Are you sure want to reject the LCBS Agreement? Once you reject you can only be reinvited to the program by your Honeywell account executive.<br/><br/><br/>
                 <apex:commandButton value="Cancel" action="{!closePopup}" rerender="tstpopup" style="background:none!important;border:none;cursor: pointer;font-size: inherit;text-decoration: underline;" styleClass="linkText"/>
                 <apex:commandButton value="Confirm rejection" styleClass="primary-button" style="display: inline-block;width:auto;margin-left:4%;cursor:pointer;" onclick="rejectActionname(); return false;"/>
            </apex:outputPanel>
        </apex:outputPanel>    
        
  <div class="background" id="body-inner">
        <c:LCBSDistributorHeader_agreement />   
        <apex:pageMessages id="showmsg" />
     
         <apex:actionFunction name="showMessage" action="{!showMessage}" rerender="parentpanel">
          <!--<apex:param name="errorLevel" assignTo="{!errorLevel}" value="" />-->
          <apex:param name="messageName" assignTo="{!messageName}" value="" />
         </apex:actionFunction>
         <apex:actionFunction name="approveActionname" action="{!approveAction}" reRender="parentpanel"/>
         <apex:actionFunction name="rejectActionname" action="{!rejectAction}" reRender="parentpanel"/>
         <apex:actionFunction name="PageRefresh" reRender="afterconfirmpanel,afterconfirmpanel1,confirmpanel,parentpanel,form"/>
      
      <form name="registration">
          <apex:outputPanel rendered="{!if((Approved==true)&&(Rejected!=true),true,false)}">
              <div class="col-md-8" style="margin-left:6.5%;margin-right:10%;margin-top:20px;">
                 <div class="contentTitle" style="margin-bottom:20px;">You have accepted our terms and conditions</div>
                 <div>Thank you reviewing our terms. If you have question about this work, please contact your Honeywell Account Executive {!executive_name} at <a href="mailto:{!executive_email}" class="linkText" style="font-size: inherit;">{!executive_email}</a>, <a href="tel:{!executive_phone}" class="linkText" style="font-size: inherit;">{!executive_phone}</a> </div>
                 <br/><br/>
                 </div>
          </apex:outputPanel>
                
          <apex:outputPanel rendered="{!if((Approved!=true)&&(Rejected==true),true,false)}">
              <div class="col-md-8" style="margin-left:6.5%;margin-right:10%;margin-top:20px;">
                  <div class="contentTitle" style="margin-bottom:20px;">You have not accepted our terms and conditions</div>
                  <div>Thank you reviewing our terms. If you have question about this work, please contact your Honeywell Account Executive {!executive_name} at <a href="mailto:{!executive_email}" class="linkText" style="font-size: inherit;">{!executive_email}</a>, <a href="tel:{!executive_phone}" class="linkText" style="font-size: inherit;">{!executive_phone}</a> </div>
              </div>
          </apex:outputPanel>
          <apex:outputPanel rendered="{!if((Approved!=true)&&(Rejected!=true),true,false)}">
              <div class="col-md-12" style="margin-left:6.5%;margin-bottom:20px;margin-top:20px;font-size:20px;">
              <span class="contentTitle margin-top-10">LCBS Connect Agreement</span>
              </div>
              <div class="col-md-8" style="margin-left:6.5%;">
                  In order to receive your user name and temporary password, Please agree to our terms of use.
              </div>
              
              <div class="col-md-8" style="margin-left:6.5%;">
            <div class="box-shadow" style="height:400px;width:85%;border:1px solid #ccc;font:16px/26px;overflow:auto;text-align:left;font-size: 15px;padding-top:10px;padding-left:25px;padding-right:35px;padding-bottom:10px;" id="rules"> 
 <p class="messageText"> 
Welcome to Honeywell’s LCBS Connect!  LCBS Connect is an innovative Honeywell offering that provides contractors the tools to improve service efficiency by allowing them access to real-time data on building controls and systems via a website (lcbs.honeywell.com) in the buildings they maintain and monitor for building owners, managers, and users (hereinafter referred to as “End Users”). These Terms of Use (the "Agreement") is a legal contract between Honeywell International Inc., acting through its Environmental and Combustion Controls business, having an office at 1985 Douglas Drive North, Golden Valley, MN 55422 ("Honeywell"), and the other party agreeing to this Agreement (“You”). By establishing an account with us and clicking “ACCEPT”, You are agreeing to the following on behalf of yourself and your employer, and each of your respective employees, contractors, representatives, officers, directors, agents, and owners:
<br/><br/><b>REQUIRED STEPS</b><br/>
In order to participate in LCBS Connect, You will need to complete several steps:
<br/>1.  Agree to these terms and conditions and establish a LCBS Connect account with Honeywell.
<br/>2.  Facilitate enrollment of contractors into LCBS Connect. 
<br/><br/>
<b>CONDITIONS TO PARTICIPATE IN LCBS CONNECT</b><br/>
In order to participate in LCBS Connect, You understand and agree, represent, warrant and covenant that:
<br/>-   any contact information and other information You provide to Honeywell for yourself, your employees, and contractors is accurate and complete, including, but not limited to, any email addresses and other contact information; 
<br/>-   You have permission to provide all of the foregoing information and that Honeywell may use such information for the use and purposes contemplated herein;
<br/>-   any data or other information You obtain or derive from LCBS Connect may only be used by You for the sole purpose of enrolling contractors into LCBS Connect.  In this regard, You agree to keep the information safe, secure, and not to share or sell that information to any third person or company or publicize the information in any manner. You further agree to only share the information with those of your employees who need to know such information;
<br/>-   You will abide by all applicable data privacy laws, marketing laws, and other applicable laws;
<br/>-   You will not store any personally identifiable or sensitive information on LCBS Connect;
<br/>-   Honeywell will have the right to monitor, review, or retain any information related to your use of LCBS Connect; and
<br/>-   You will indemnify, defend, and hold harmless Honeywell from and against all liability for any and all claims arising out of this Agreement or related in any way to LCBS Connect, except to the extent caused by Honeywell’s gross negligence or willful misconduct.
<br/><br/>
<b>DISCLAIMER OF WARRANTY; NO ASSURANCES; LIMITATION OF LIABILITY; INDEMNIFICATION</b><br/>
LCBS CONNECT AND ANY HARDWARE OR EQUIPMENT THAT MAY BE USED WITH LCBS CONNECT (THE “DESIGNATED SYSTEMS”) ARE PROVIDED "AS IS" WITHOUT WARRANTY OF ANY KIND. FURTHER, HONEYWELL DOES NOT WARRANT, GUARANTEE, OR MAKE ANY REPRESENTATIONS REGARDING THE USE, OR THE RESULTS OF THE USE OF LCBS CONNECT OR THE DESIGNATED SYSTEMS IN TERMS OF CORRECTNESS, ACCURACY, RELIABILITY, SECURITY, TIMELINESS, OR OTHERWISE. THE ENTIRE RISK AS TO THE RESULTS AND PERFORMANCE OF LCBS CONNECT AND THE DESIGNATED SYSTEM IS ASSUMED BY YOU. IF LCBS CONNECT OR THE DESIGNATED SYSTEM ARE DEFECTIVE OR INOPERATIVE, YOU AND NOT HONEYWELL ASSUMES THE ENTIRE COST OF ALL NECESSARY SERVICING, REPAIR OR CORRECTION. YOU AGREE TO COMPLY WITH ALL INDUSTRY AND HONEYWELL STANDARDS WITH RESPECT TO CYBERSECURITY. HONEYWELL DISCLAIMS ALL WARRANTIES INCLUDING WITHOUT LIMITATION, IMPLIED WARRANTIES OF NON-INFRINGEMENT, MERCHANTABILITY, TITLE AND FITNESS FOR A PARTICULAR PURPOSE.
UNDER NO CIRCUMSTANCES WILL HONEYWELL BE HELD LIABLE FOR ANY HARM RESULTING FROM DOWNLOADING OR ACCESSING ANY INFORMATION OR MATERIAL THROUGH LCBS CONNECT OR THE DESIGNATED SYSTEM, ANY DELAY OR FAILURE IN PERFORMANCE RESULTING DIRECTLY OR INDIRECTLY FROM ACTS OF NATURE, FORCES OR CAUSES BEYOND ITS REASONABLE CONTROL, INCLUDING, BUT NOT LIMITED TO, INTERNET FAILURES, COMPUTER EQUIPMENT FAILURES, TELECOMMUNICATION EQUIPMENT FAILURES, OTHER EQUIPMENT FAILURES, WIRING, INTERNET SERVICE PROVIDERS, MOBILE DEVICE CARRIERS, SATELLITE PROVIDERS, ELECTRICAL POWER FAILURES, SECURITY BREACHES, STRIKES, LABOR DISPUTES, RIOTS, INSURRECTIONS, CIVIL DISTURBANCES, SHORTAGES OF LABOR OR MATERIALS, FIRES, FLOODS, STORMS, EXPLOSIONS, ACTS OF GOD, WAR, GOVERNMENTAL ACTIONS, ORDERS OF DOMESTIC OR FOREIGN COURTS OR TRIBUNALS, NON-PERFORMANCE OF THIRD PARTIES, OR LOSS OF OR FLUCTUATIONS IN HEAT, LIGHT, OR AIR CONDITIONING.
There can be no assurances whatsoever that LCBS Connect or the Designated System will protect any individual or his or her property from harm. Appropriate safety precautions must always be taken and experienced installers and operators must be utilized when installing, setting up, operating or maintaining any building systems. Incorrect processes may result in property loss, severe injury, or death.  Honeywell assumes no responsibility or liability for any injury or damage to any persons or property resulting from the use of LCBS Connect or the Designated System.  Further, You represent and warrant that You will take appropriate precautions, establish appropriate procedures and post appropriate notices to ensure that persons and property are not harmed in the event of an error, malfunction or unexpected operation of LCBS Connect or the Designated System.
<br/><br/>
NEITHER HONEYWELL NOR ANYONE ELSE WHO HAS BEEN INVOLVED IN THE CREATION, PRODUCTION OR DELIVERY OF LCBS CONNECT OR THE DESIGNATED SYSTEM WILL BE LIABLE FOR ANY DIRECT, INDIRECT, CONSEQUENTIAL, OR INCIDENTAL DAMAGES (INCLUDING DAMAGES FOR LOSS OF BUSINESS PROFITS, LOSS OF USE, LOST BUSINESS, PERSONAL INJURY, LOST OR CORRUPTED DATA, UNAUTHORIZED ACCESS TO OR USE OR MISAPPROPRIATION OF DATA BY THIRD PARTIES, BUSINESS INTERRUPTION, AND THE LIKE), HOWEVER IT ARISES, WHETHER FOR BREACH, INDEMNITY, WARRANTY, OPERATION OF LAW, IN TORT, OR OTHERWISE, EVEN IF HONEYWELL HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. IN NO EVENT WILL HONEYWELL BE LIABLE FOR ANY AMOUNT IN EXCESS OF THE AMOUNTS PAID BY YOU FOR LCBS CONNECT OR $500, WHICHEVER IS LESS.
You agree to indemnify, defend, and hold Honeywell, its employees, officers, directors, representatives, and affiliates harmless from and against any claim, loss, expense, cost or damage, arising directly or indirectly out of or related to you and your employer, and each of your respective employees, contractors, representatives, officers, directors, agents, and owners, and End Users’ use of LCBS Connect or the Designated System.  
<br/><br/><b>ADDITIONAL TERMS</b><br/>
The failure of either party to enforce at any time any of the provisions of this Agreement will not be construed to be a continuing waiver of any provisions hereunder nor will any such failure prejudice the right of such party to take any action in the future to enforce any provisions hereunder.
In the event any provision of this Agreement is determined to be illegal, invalid, or unenforceable, the validity and enforceability of the remaining provisions of this Agreement will not be affected and, in lieu of such illegal, invalid, or unenforceable provision, there will be added as part of this Agreement one or more provisions as similar in terms as may be legal, valid and enforceable under applicable law.
You acknowledge that any breach of your obligations hereunder with respect to LCBS Connect or the confidential information of Honeywell will cause Honeywell irreparable injury for which it has no adequate remedy at law. You further agree that Honeywell will be entitled to seek and obtain equitable relief, including preliminary injunctions and temporary restraining orders, to prevent any unauthorized use of LCBS Connect and confidential information, without posting of bond or other security, in addition to all other remedies available to it under this Agreement or other applicable law.
The Designated System, including technical data, is subject to U.S. export control laws, including the U.S. Export Administration Act and its associated regulations, and may be subject to export or import regulations in other countries. You agree to comply strictly with all such regulations and acknowledge that You have the responsibility to obtain such licenses to export, re-export, or import the Designated System. The Designated System may not be used, sold, resold, sublicensed, diverted, transferred, reshipped, or otherwise exported or re-exported: (i) in, into or through any country designated as a terrorist supporting country by the U.S. government or any of its agencies; (ii) in, into or through any country for which the U.S. has an embargo or with which the U.S. or any of its agencies maintains comprehensive trade controls; (iii) to or by a national or resident of the countries described in (i) or (ii); or (iv) to or by any party included in the United States Department of Commerce's Denied Persons List, Entity List or Unverified List; or the United States Department of the Treasury's Specially Designated Nationals, Specially Designated Global Terrorists, Specially Designated Narcotics Traffickers, or Specially Designated Terrorists List; or the United States Department of State's Designated Foreign Terrorist Organizations or Debarred Persons List; or is otherwise designated by the U.S. government, or any of its agencies, as a party with which it is unlawful to do business 
The Designated System is provided with restricted rights. With respect to any acquisition of the Designated System by or for any unit or agency of the U.S. Government ("Government"), the Designated System shall be classified as "Commercial Computer Software," as that term is defined in the applicable provisions of the Federal Acquisition Regulation ("FAR") and supplements thereto, including the Department of Defense ("DoD") FAR Supplement ("DFARS"). If the Designated System is supplied for use by DoD, the Designated System is delivered subject to the terms of this Agreement and either (i) in accordance with DFARS 252.227-7202-1(a) and 227.7202-3(a), or (ii) with restricted rights in accordance with DFARS 252.227 7013(c)(1)(ii), as applicable. If the Designated System is supplied for use by a federal agency other than DoD, the Designated System is restricted computer software delivered subject to the terms of this Agreement and (i) FAR 12.212(a); (ii) FAR 52.227-19; or (iii) FAR 52.227-14 (ALT III), as applicable.  The terms and conditions of this Agreement shall pertain to the Government’s use and disclosure of the Designated System, and shall supersede any conflicting contractual terms or conditions, except to the extent that any term or condition is inconsistent with Federal law. If the Government requires any rights that are not conveyed under this license agreement, such rights will be separately negotiated and shall be set forth in a separate agreement or an addendum to this license agreement. 
This Agreement will be governed by and interpreted in accordance with the laws of the State of New York without reference to conflict of laws principles. This Agreement will not be governed by the United Nations Convention on Contracts for the International Sale of Goods, or by the Uniform Computer Information Transactions Act (UCITA). The parties agree that exclusive jurisdiction for any dispute arising out of or relating to this Agreement lies within courts located in the State of Minnesota. Notwithstanding the foregoing, any judgment may be enforced in any United States or foreign court.
Under no circumstances may You use any trademark or service mark of Honeywell to identify goods or services provided by You except as expressly agreed to by Honeywell in writing. 
You may not assign this Agreement without Honeywell’s prior written consent. This Agreement comprises the entire agreement between the parties relating to its subject matter. This Agreement supersedes all prior agreements and understandings, written or oral, express or implied. This Agreement can be amended or modified only by a writing executed in advance by duly authorized representatives of each of the parties hereto. In the event any foreign ministry or other governmental entity or agency makes any changes, deletions or modifications to this Agreement, holds any provision herein unenforceable or imposes any conditions or restrictions on either party to this Agreement which affects its ability to fully perform, Honeywell will have the right to immediately terminate this Agreement. By clicking the I ACCEPT button and/or using LCBS Connect, You represent and warrant that all consents, approval or authorizations of third parties, foreign ministries or any governmental entities or agencies, required as a condition or otherwise necessary for You to enter into and perform your obligations under this Agreement have been duly obtained. 
<br/><br/><br/>

</p>
</div>

        <div class="checkbox" name="check" style="margin-top:20px;margin-bottom:20px;width: 85%;">
            <input type="checkbox" id="agree" name="accept" onchange="buttonState();"/><label for="agree">  I have read and understand the terms and conditions </label> 
             <a href="{!$Label.Honeywell_Privacy_Terms}" class="linkText" style="float:right;font-size: inherit;text-decoration: underline;">Honeywell Privacy Terms </a> 
        </div>
                    
   </div>
   
  
     <div class="col-md-8" style="margin-left:6.5%;">
      <apex:actionFunction name="triggerPopup" action="{!showPopup}" rerender="tstpopup"/>
      <apex:outputPanel id="confirmpanel" rendered="{!!(Approved || Rejected)}"> 
        <input type="button" class="linkText" id="nextstep1" value="Reject" onclick="triggerPopup();" style="background:none!important;border:none;cursor: pointer;text-decoration: underline;font-size: inherit;"/>
        <input type="button" id="nextstep" class="primary-button" value="I ACCEPT" onclick="validate(); return false;" disabled="true" />
      </apex:outputPanel>
      
     
     <div id="statusMsg">
     <apex:outputPanel id="afterconfirmpanel" rendered="{!Approved}">
     <apex:outputText value="Accepted" style="background:#d6f5d6;width:25%;height:70px;text-align:center;border-radius:5px;color:green;font-size:15px;" ></apex:outputText> 
     </apex:outputPanel>
     
     <apex:outputPanel id="afterconfirmpanel1" rendered="{!Rejected}">
     <apex:outputText value="Declined" style="background:#d6f5d6;width:25%;height:70px;text-align:center;border-radius:5px;color:green;font-size:15px;" ></apex:outputText> 
     </apex:outputPanel>
     </div>
     <br/>
     </div>
<!--  </div>   --> 
   </apex:outputPanel>
  </form>
     <style type="text/css">
        .custPopup {
            background-color: #fff;
            border-width: 1px;
            border-style: solid;
            border-color: #ddd;
            z-index: 1051;
            left: 13.5%;
            padding: 10px;
            position: fixed;
            width: 55%;
            margin-left: 12 Rem;
            top: 47%;
            margin-right: auto;
            margin-left: auto;
        }
        .popupBackground {
            background-color: #3e3e3e;
            opacity: 0.70;
            filter: alpha(opacity = 20);
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 1050;
        }
    </style>
    
  </div> <!-- /container -->
    
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->    
    <script src="js/ie10-viewport-bug-workaround.js"></script>
 </body>

 </apex:outputPanel>
 </html>
</apex:form>
</apex:page>