<apex:page showChat="false" showHeader="false" sidebar="false" standardStylesheets="false" controller="LCBS_New_Edit_BuildingOwner_Controller">
    
    <!-- apex:form #myform -->
    <apex:form id="myform">
        <apex:includescript value="https://code.jquery.com/jquery-1.11.1.min.js" / >
        <apex:includescript value="https://cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js" />
        <apex:stylesheet value="https://cdn.datatables.net/1.10.4/css/jquery.dataTables.css" />
        <script type="text/javascript">
              j$ = jQuery.noConflict();
              console.log(j$);
              //j$(document).ready( function () {
                //j$('.dropdown-toggle').dropdown();  
              //});      
        </script>
        <script type="text/javascript"> 
            function popupwindow(){
              var newwindow = window.open('/apex/LCBSAddNewSite','New Site', scrollbars=yes,toolbar=no,status=no );
              
              newwindow.focus();
            }
          </script>
  
        
        <script>
          
          j$ = jQuery.noConflict();
          
          var flagDisableBeforeUnload = true;
          
          j$(window).on('beforeunload', function()
          {
           if (!flagDisableBeforeUnload)
           {
              return 'Leaving this page will lose your changes. Are you sure?';
           }
           else
           {
              //reset
              tempDisableBeforeUnload = false;
              return;
           }
         });
         function ShowAlert(){
            alert('wwerwe');
          }
        </script>    
        
        
    
        <html>
            <head>
              <meta charset="utf-8" />
              <meta http-equiv="X-UA-Compatible" content="IE=edge" />
              <meta name="viewport" content="width=device-width, initial-scale=1" />
              <meta name="description" content="" />
              <meta name="author" content="" />
                      
              
                            
              <title>
                Honeywell LCBS Contractor Portal
              </title>
              
            <!--  <apex:includescript value="https://code.jquery.com/jquery-1.11.1.min.js" / > -->
              
              <!-- TODO until headerer added -->
              <style>
                                      
                    /* TODO */
                    /* Styles */
                    #main-body{margin-bottom:20px;}
                    .cmn-row{
                        width: 100%;
                    }
                    .col-md-4,.col-md-3{
                        padding: 0 12px;
                        float: left;
                    }
                    .col-md-3{
                        width: 25%;
                    }
                    .col-md-4{
                        width: 33.33333333%;
                    }
                    .col-md-4.right,.col-md-3.right{
                        text-align:right;
                    }
                    .col-md-4.nopadding-left,.col-md-3.nopadding-left{padding-left:0;padding-right: 20px;}
                    .col-md-4.center,.col-md-3.center{
                        text-align:center;
                    }
                    .margin-top-10{
                        margin-top: 10px;
                    }
                    .li-margin-bottom-20 > li{
                        margin-bottom: 20px;
                    }
                    .underline{
                       /* margin-right: 50px; */
                        border-bottom: 1px solid #e1e1e1;
                        margin-top: 5px;
                    }
                    /* .tab-dropdown .dropdown{display:none;} */
                    @media (max-width: 1024px){          
                        .cmn-row .col-md-4,.cmn-row .col-md-3 {width: 100%;}
                        .cmn-row .col-md-4.center,.cmn-row .col-md-3.center{text-align:left;}
                        .cmn-row .col-md-4.right > span.bodyText, .cmn-row .col-md-3.right > span.bodyText{float: left;}
                        .cmn-row .col-md-4.right, .cmn-row .col-md-3.right{text-align:center;}
                        .cmn-row .col-md-4.nopadding, .cmn-row .col-md-3.nopadding{padding: 0 10rem;border-bottom: 1rem solid #eee;margin-top: 5rem;}
                        .cmn-row .underline{margin-right: 0;}
                        .text-center-xs{text-align:center;}
                    }
            
                    .save-btn {
                        margin-left: 17px;
                        outline: none;
                        border: none;
                        cursor: pointer;
                        display: inline;
                    }
                    
                    select{
                        width: 215px;
                        heiht: 40px;
                    }
                    
                    .margin-top-20{
                        margin-top:20rem;
                    }

                    
              </style>
              
               <script>
        function clearErrors()
       {
              document.getElementById("dispError").style.display= "none";
              jQuery('[id$=email]').css("borderColor", "");
              jQuery('[id$=email]').css("borderStyle", "").css("borderWidth", "");
              jQuery('[id$=email]').css("backgroundColor","");
          
              jQuery('[id$=emailvalidation]').css("color","");
              jQuery('[id$=emailvalidation]').text("");
         
              jQuery('[id$=phoneNumber]').css("borderColor", "");
              jQuery('[id$=phoneNumber]').css("borderStyle", "").css("borderWidth", "");
              jQuery('[id$=phoneNumber]').css("backgroundColor","");
              jQuery('[id$=phone]').css("color","");
              jQuery('[id$=phone]').text("");
              jQuery('[id$=postal]').css("color","");
              jQuery('[id$=postal]').text("");
              jQuery('[id$=postalCode]').css("borderColor", "");
              jQuery('[id$=postalCode]').css("borderStyle", "").css("borderWidth", "");
              jQuery('[id$=postalCode]').css("backgroundColor","");
              jQuery('[id$=email]').css("borderColor", "");
              jQuery('[id$=email]').css("borderStyle", "").css("borderWidth", "");
              jQuery('[id$=email]').css("backgroundColor","");
              jQuery('[id$=emailvalidation]').css("color","");
              jQuery('[id$=emailvalidation]').text("");
              jQuery('[id$=companyname]').css("borderColor", "");
              jQuery('[id$=companyname]').css("borderStyle", "").css("borderWidth", "");
              jQuery('[id$=companyname]').css("backgroundColor", "");
              jQuery('[id$=companyvalidation]').css("Color","");
              jQuery('[id$=companyvalidation]').text("");
              jQuery('[id$=Addr]').css("borderColor", "");
              jQuery('[id$=Addr]').css("borderStyle", "").css("borderWidth", "");
              jQuery('[id$=Addr]').css("backgroundColor","");
              jQuery('[id$=AddrValidation]').css("color","");
              jQuery('[id$=AddrValidation]').text("");
              jQuery('[id$=postalCode]').css("borderColor", "");
              jQuery('[id$=postalCode]').css("borderStyle", "").css("borderWidth", "");
              jQuery('[id$=postalCode]').css("backgroundColor","");
              jQuery('[id$=City]').css("borderColor", "");
              jQuery('[id$=City]').css("borderStyle", "").css("borderWidth", "");
              jQuery('[id$=City]').css("backgroundColor","");
              jQuery('[id$=CityValidation]').css("color","");
              jQuery('[id$=CityValidation]').text("");
              jQuery('[id$=State]').css("borderColor", "");
              jQuery('[id$=State]').css("borderStyle", "").css("borderWidth", "");
              jQuery('[id$=State]').css("backgroundColor","");
              jQuery('[id$=StateValidation]').css("color","");
              jQuery('[id$=StateValidation]').text("");
              jQuery('[id$=FirstName]').css("borderColor", "");
              jQuery('[id$=FirstName]').css("borderStyle", "").css("borderWidth", "");
              jQuery('[id$=FirstName]').css("backgroundColor","");
              jQuery('[id$=FNValid]').css("color","");
              jQuery('[id$=FNValid]').text("");
              jQuery('[id$=LastName]').css("borderColor", "");
              jQuery('[id$=LastName]').css("borderStyle", "").css("borderWidth", "");
              jQuery('[id$=LastName]').css("backgroundColor","");
              jQuery('[id$=LNValid]').css("color","");
              jQuery('[id$=LNValid]').text("");
             
              jQuery('[id$=CustomerType]').css("borderColor", "");
              jQuery('[id$=CustomerType]').css("borderStyle", "").css("borderWidth", "");
              jQuery('[id$=CustomerType]').css("backgroundColor",""); 
              jQuery('[id$=Customer]').css("color","");
              jQuery('[id$=Customer]').text("");
              
              jQuery('[id$=email]').css("borderColor", "");
              jQuery('[id$=email]').css("borderStyle", "").css("borderWidth", "");
              jQuery('[id$=email]').css("backgroundColor","");   
              jQuery('[id$=phoneNumber]').css("borderColor", "");
              jQuery('[id$=phoneNumber]').css("borderStyle", "").css("borderWidth", "");
              jQuery('[id$=phoneNumber]').css("backgroundColor","");
              jQuery('[id$=country]').css("borderColor", "");
              jQuery('[id$=country]').css("borderStyle", "").css("borderWidth", "");
              jQuery('[id$=country]').css("backgroundColor","");
              jQuery('[id$=countryValidation]').css("color","");
              jQuery('[id$=countryValidation]').text("");
           
              jQuery('[id$=postal]').text("");
              jQuery('[id$=emailvalidation]').css("color","");
              jQuery('[id$=emailvalidation]').text("");
              jQuery('[id$=email]').css("borderColor", "");
              jQuery('[id$=email]').css("borderStyle", "").css("borderWidth", "");
              jQuery('[id$=email]').css("backgroundColor","");
        
       }
        function buildingOwnerValidation()
        {
          clearErrors();
          var a = jQuery('[id$=phoneNumber]').val();
          var phoneNum = a.replace(/[^\d]/g, '');
          var zipCode = jQuery('[id$=postalCode]').val();
          zipCode = zipCode.toString().trim();
          var email = jQuery('[id$=email]').val();
          email = email.toString().trim();
          var ErrorMsg = '';
          var re = new RegExp(/^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i);
          var us = new RegExp("^\\d{5}(-{0,1}\\d{4})?$");
          var ca = new RegExp(/^[ABCEGHJKLMNPRSTVXY]\d[ABCEGHJKLMNPRSTVWXYZ]( )?\d[ABCEGHJKLMNPRSTVWXYZ]\d$/i);
         if(jQuery('[id$=companyname]').val()=='')
         {
          jQuery('[id$=companyname]').css("borderColor", "#E65048");
          jQuery('[id$=companyname]').css("borderStyle", "solid").css("borderWidth", "1px").css("borderBottomWidth", "2px");
          jQuery('[id$=companyname]').css("backgroundColor","");
          jQuery('[id$=companyvalidation]').css("color","#E65048");
          jQuery('[id$=companyvalidation]').text("Required");
          if(ErrorMsg == '')
              {
               ErrorMsg ='Please enter ';
              }
              ErrorMsg =ErrorMsg + 'Company Name, ';
          }
          
         if(jQuery('[id$=Addr]').val()=='')
          {
              jQuery('[id$=Addr]').css("borderColor", "#E65048");
              jQuery('[id$=Addr]').css("borderStyle", "solid").css("borderWidth", "1px").css("borderBottomWidth", "2px");
              jQuery('[id$=Addr]').css("backgroundColor","");
              jQuery('[id$=AddrValidation]').css("color","#E65048");
              jQuery('[id$=AddrValidation]').text("Required");
              if(ErrorMsg == '')
              {
               ErrorMsg ='Please enter ';
              }
              ErrorMsg =ErrorMsg + 'Address, ';
          }    
          
          if(jQuery('[id$=postalCode]').val()=='')
          {
              jQuery('[id$=postalCode]').css("borderColor", "#E65048");
              jQuery('[id$=postalCode]').css("borderStyle", "solid").css("borderWidth", "1px").css("borderBottomWidth", "2px");
              jQuery('[id$=postalCode]').css("backgroundColor","");
              jQuery('[id$=postal]').css("color","#E65048");
              jQuery('[id$=postal]').text("Required");
              if(ErrorMsg == '')
                  {
                   ErrorMsg ='Please enter ';
                  }
                ErrorMsg =ErrorMsg + 'Postal code, ';
          }
          
          if(jQuery('[id$=City]').val()=='')
          {
              jQuery('[id$=City]').css("borderColor", "#E65048");
              jQuery('[id$=City]').css("borderStyle", "solid").css("borderWidth", "1px").css("borderBottomWidth", "2px");
              jQuery('[id$=City]').css("backgroundColor","");
               jQuery('[id$=CityValidation]').css("color","#E65048");
              jQuery('[id$=CityValidation]').text("Required");
              if(ErrorMsg == '')
                  {
                   ErrorMsg ='Please enter ';
                  }
              ErrorMsg =ErrorMsg + 'City, ';
          }
          if(jQuery('[id$=State]').val()=='--Select--')
          {
              jQuery('[id$=State]').css("borderColor", "#E65048");
              jQuery('[id$=State]').css("borderStyle", "solid").css("borderWidth", "1px").css("borderBottomWidth", "2px");
              jQuery('[id$=State]').css("backgroundColor","");
               jQuery('[id$=StateValidation]').css("color","#E65048");
              jQuery('[id$=StateValidation]').text("Required");
              if(ErrorMsg == '')
                  {
                   ErrorMsg ='Please enter ';
                  }
              ErrorMsg =ErrorMsg + 'State, ';
          }
         
          if(jQuery('[id$=FirstName]').val()=='') 
          {
              jQuery('[id$=FirstName]').css("borderColor", "#E65048");
              jQuery('[id$=FirstName]').css("borderStyle", "solid").css("borderWidth", "1px").css("borderBottomWidth", "2px");
              jQuery('[id$=FirstName]').css("backgroundColor","");
              jQuery('[id$=FNValid]').css("color","#E65048");
              jQuery('[id$=FNValid]').text("Required");
              if(ErrorMsg == '')
                  {
                   ErrorMsg ='Please enter ';
                  }
              ErrorMsg =ErrorMsg + 'First Name, ';
          }
         
          
          if(jQuery('[id$=LastName]').val()=='') 
          {
              jQuery('[id$=LastName]').css("borderColor", "#E65048");
              jQuery('[id$=LastName]').css("borderStyle", "solid").css("borderWidth", "1px").css("borderBottomWidth", "2px");
              jQuery('[id$=LastName]').css("backgroundColor","");
               jQuery('[id$=LNValid]').css("color","#E65048");
              jQuery('[id$=LNValid]').text("Required");
              if(ErrorMsg == '')
                  {
                   ErrorMsg ='Please enter ';
                  }
              ErrorMsg =ErrorMsg + 'Last Name, ';
          }
         
          if(jQuery('[id$=Title]').val()=='') 
          {
              jQuery('[id$=Title]').css("borderColor", "#E65048");
              jQuery('[id$=Title]').css("borderStyle", "solid").css("borderWidth", "1px").css("borderBottomWidth", "2px");
              jQuery('[id$=Title]').css("backgroundColor","");
              jQuery('[id$=TitleValidation]').css("color","#E65048");
              jQuery('[id$=TitleValidation]').text("Required");
              if(ErrorMsg == '')
                  {
                   ErrorMsg ='Please enter ';
                  }
              ErrorMsg =ErrorMsg + 'Title, ';
          }
         
          if(jQuery('[id$=email]').val()=='')
          {
              jQuery('[id$=email]').css("borderColor", "#E65048");
              jQuery('[id$=email]').css("borderStyle", "solid").css("borderWidth", "1px").css("borderBottomWidth", "2px");
              jQuery('[id$=email]').css("backgroundColor","");
              jQuery('[id$=emailvalidation]').css("color","#E65048");
              jQuery('[id$=emailvalidation]').text("Required");
              if(ErrorMsg == '')
                  {
                   ErrorMsg ='Please enter ';
                  }     
              ErrorMsg =ErrorMsg + 'Email, ';
          }
          if(jQuery('[id$=CustomerType]').val()=='--None--')
          {
              jQuery('[id$=CustomerType]').css("borderColor", "#E65048");
              jQuery('[id$=CustomerType]').css("borderStyle", "solid").css("borderWidth", "1px").css("borderBottomWidth", "2px");
              jQuery('[id$=CustomerType]').css("backgroundColor","");
              jQuery('[id$=Customer]').css("color","#E65048");
              jQuery('[id$=Customer]').text("Required");
              if(ErrorMsg == '')
                  {
                   ErrorMsg ='Please enter ';
                  }     
              ErrorMsg =ErrorMsg + 'Customer Type, ';
          }
          if(jQuery('[id$=phoneNumber]').val()=='') 
          {
              jQuery('[id$=phoneNumber]').css("borderColor", "#E65048");
              jQuery('[id$=phoneNumber]').css("borderStyle", "solid").css("borderWidth", "1px").css("borderBottomWidth", "2px");
              jQuery('[id$=phoneNumber]').css("backgroundColor","");
              jQuery('[id$=phone]').css("color","#E65048");
              jQuery('[id$=phone]').text("Required");
              if(ErrorMsg == '')
                  {
                   ErrorMsg ='Please enter ';
                  }
              ErrorMsg =ErrorMsg + 'Phone Number, ';
          }
      
         
          if((jQuery('[id$=phoneNumber]').val() !='') && (phoneNum.length < 6 || phoneNum.length > 11))
          {
              jQuery('[id$=phone]').css("color","#E65048");
              jQuery('[id$=phone]').text("Not a valid Phone Number");
              jQuery('[id$=phoneNumber]').css("borderColor", "#E65048");
              jQuery('[id$=phoneNumber]').css("borderStyle", "solid").css("borderWidth", "1px").css("borderBottomWidth", "2px");
              jQuery('[id$=phoneNumber]').css("backgroundColor","");
               
                  ErrorMsg = ErrorMsg+' Please enter a valid Phone Number';
          }
           if((jQuery('[id$=country]').val()=='--Select--') || (jQuery('[id$=country]').val()==''))
          {
              jQuery('[id$=country]').css("borderColor", "#E65048");
              jQuery('[id$=country]').css("borderStyle", "solid").css("borderWidth", "1px").css("borderBottomWidth", "2px");
              jQuery('[id$=country]').css("backgroundColor","");
              jQuery('[id$=countryValidation]').css("color","#E65048");
              jQuery('[id$=countryValidation]').text("Required");
              if(ErrorMsg == '')
                  {
                   ErrorMsg ='Please enter ';
                  }     
              ErrorMsg =ErrorMsg + 'Country, ';
          }
          if((jQuery('[id$=country]').val()=='United States')&&( jQuery('[id$=postalCode]').val()!= '')&&((!us.test(zipCode.toString()))))
          {
              jQuery('[id$=postal]').css("color","red");
              jQuery('[id$=postal]').text("Not a valid Postal/ZIP Code");
              jQuery('[id$=postalCode]').css("borderColor", "#E65048");
              jQuery('[id$=postalCode]').css("borderStyle", "solid").css("borderWidth", "1px").css("borderBottomWidth", "2px");
              jQuery('[id$=postalCode]').css("backgroundColor","");
             
                  ErrorMsg =ErrorMsg +' Please enter a valid Postal Code';
          }
          
          if((jQuery('[id$=country]').val()=='Canada')&&( jQuery('[id$=postalCode]').val()!= '')&&((!ca.test(zipCode.toString()))))
          {
          
              jQuery('[id$=postal]').css("color","#E65048");
              jQuery('[id$=postal]').text("Not a valid Postal/ZIP Code");
              jQuery('[id$=postalCode]').css("borderColor", "#E65048");
              jQuery('[id$=postalCode]').css("borderStyle", "solid").css("borderWidth", "1px").css("borderBottomWidth", "2px");
              jQuery('[id$=postalCode]').css("backgroundColor","");
            
                  ErrorMsg =ErrorMsg +' Please enter a valid Postal Code';
          }
          
          if((!re.test(jQuery('[id$=email]').val()))&&(jQuery('[id$=email]').val() != ''))
          {
           jQuery('[id$=emailvalidation]').css("color","#E65048");
           jQuery('[id$=emailvalidation]').text("Not a valid email address");
           jQuery('[id$=email]').css("borderColor", "#E65048");
           jQuery('[id$=email]').css("borderStyle", "solid").css("borderWidth", "1px").css("borderBottomWidth", "2px");
           jQuery('[id$=email]').css("backgroundColor","");
           
                  ErrorMsg = ErrorMsg +' Please enter a valid Email';
          }
          ErrorMsg = ErrorMsg+".";
          
          ErrorMsg = ErrorMsg.replace(", .",".");
                 
          
          ErrorMsg = ErrorMsg.trim(); 
          
          if(ErrorMsg == '.')
          {
           
           //disablesave();
           document.getElementById("dispError").style.display= "none";
           buildingOwner();
           
          }
          if(ErrorMsg != '.')
          {
           document.getElementById("dispError").style.display= "block";
           return false;
          }

         
      
      }
       </script>
              
            </head>    
        
            <body>
                <c:LCBS_Mobile_Nav />
                
                <div id="body-inner" class="background">
                    <div class="container ng-scope" ng-controller="AlertController as vm">            
                    </div>
                    
                    <c:LCBSDistributorHeader_New_Latest />
                     
              
                    <div id="ng-view-wrapper">
                        <div id="ng-view" class="ng-scope">
                            <div id="main-tab" class="ng-scope">
                                <header class="clearfix">
                                    <h1 class="ng-binding">{!BuldEdit.name}</h1>
                                </header>
                                <div class="marginBuildingTab">
                                    <nav class="btn-group tabs clearfix">
                                       <!--  <a href="javascript:void(0);" ng-repeat="option in navOptions" ng-class="{active: isActive(option)}" ng-click="activate(option)" class="btn btn-default ng-binding ng-scope">Controls</a> -->
                                    <a href="javascript:void(0);" onclick="alert();" ng-repeat="option in navOptions" ng-class="{active: isActive(option)}" ng-click="activate(option)" class="btn btn-default ng-binding ng-scope">Alerts</a> 
                                    <a href="javascript:void(0);" onclick="controls();" ng-repeat="option in navOptions" ng-class="{active: isActive(option)}" ng-click="activate(option)" class="btn btn-default ng-binding ng-scope">Controls</a>                                                                 
                                  <!--  <a href="javascript:void(0);" onclick="equipment();" ng-repeat="option in navOptions" ng-class="{active: isActive(option)}" ng-click="activate(option)" class="btn btn-default ng-binding ng-scope">Equipments</a>  -->                              
                                    <a href="javascript:void(0);" ng-repeat="option in navOptions" ng-class="{active: isActive(option)}" ng-click="activate(option)" class="btn btn-default ng-binding ng-scope active">Information</a>                          
                                    </nav>
                                    
                                    <!-- TODO -->
                                    <!-- <div class="tab-dropdown">
                                        <div class="dropdown">
                                            <a aria-expanded="false" class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">Information</a>
                                            <ul class="dropdown-menu">
                                               <!-- <li><a class="headerText" href="#">Equipment</a></li>-->
                                         <!--        <li><a class="headerText" href="#">Alerts</a></li> -->
                                               <!-- <li><a class="headerText" href="#">Equipment</a></li> -->
<!--                                                <li><a class="headerText" href="#">Controls</a></li>
                                                <li><a class="headerText" href="#">Information</a></li> 
                                            </ul>
                                        </div>
                                    </div>
                                    -->
                                    
                                </div>
                            </div>
                         <!-- /# main-tab -->
                           <apex:actionFunction name="alert" action="{!alertsPage}"/>
                           <apex:actionFunction name="controls" action="{!controlsPage}"/>
                           <apex:actionFunction name="equipment" action="{!equipmentPage}"/>
                            <apex:actionFunction name="buildingOwner" action="{!buidingOwnerUpdate}"/>
                            <!-- Tab -Content -->
                            <div class="tab-content ng-scope" ui-view="content">
                               <!-- Error Tab -->
                            <div id="dispError">
                                
                                <div class="clearfix">
                                   <apex:image url="{!URLFOR($Resource.LCBS_Error_latest, 'error/error.png')}" style="margin-left:2%;"/>
                                   <apex:outputLabel escape="true"  id="error" value="Please correct the errors below." />
                                   <!--<apex:outputLabel escape="true"  id="error" value="Please correct the errors below." style="border:2px;color:red;font-size:15px;height:20%;width:100%;padding-top:-25%;padding-bottom:8%;margin-left:8%;margin-right:2%;"/> -->
                               </div>
                            
                                <!--<table>
                                    <tr>
                                        <td><apex:image url="{!URLFOR($Resource.LCBS_Error, 'error/error.jpg')}" height="30px" width="30px" style="margin-left:2%;"/> </td>
                                        <td><apex:outputLabel escape="true"  id="error" value="Please correct the errors below." style="border:2px;color:red;font-size:15px;height:20%;width:100%;padding-top:-25%;padding-bottom:8%;margin-left:8%;margin-right:2%;"/></td>
                                    </tr>
                                </table> -->
                            </div>
                            <!-- /# Error Tab -->
                                <div class="ng-scope" id="main-body">
                                    <section class="main ng-scope">
                                      <apex:outputPanel rendered="{!IF(pageMode=='e',true,false)}">
                                        <div class="largeLabelText margin-top-20">Edit Building Owner</div>
                                        
                                        <div class="bodyText margin-top-10">
                                            When you edit a building owners name or contact information, the building owner will receive an email requesting permission for you to manage the building on this website.
                                        </div>
                                      </apex:outputPanel>
                                      <apex:outputPanel rendered="{!IF(pageMode=='n',true,false)}">
                                        <div class="largeLabelText margin-top-20">Add Building Owner</div>
                                        
                                      
                                      </apex:outputPanel>
                                        <div class="clearfix cmn-row margin-top-20">
                                            
                                            <div class="col-md-3 nopadding-left">
                                                
                                                <div class="clearfix margin-bottom-20">
                                                    <div class="smallLabelText">Customer Type <span class="bodyText required">&#9913;</span><apex:outputLabel id="Customer" value="" styleClass="bodyText required"/> </div>
                                                    <div>
                                                      <apex:inputField taborderhint="1" styleclass="formField width-100" value="{!BuldEdit.Customer_Type__c}" id="CustomerType" label="Customer Type" onchange="flagDisableBeforeUnload=false;" required="true"/> 
                                                    </div> 
                                                </div>
                                                
                                                <div class="clearfix margin-bottom-20">
                                                    <div class="smallLabelText">Phone <span class="bodyText required">&#9913;</span><apex:outputLabel id="phone" value="" styleClass="bodyText required"/> </div>
                                                    <div>
                                                        <apex:inputField taborderhint="5" Styleclass="formField form-custom-input field-change-event" value="{!BuldEdit.Phone_Number__c}" label="Phone"  id="phoneNumber" onchange="flagDisableBeforeUnload=false;"/>
                                                       
                                                    </div>
                                                </div>
                                                
                                                <div class="clearfix margin-top-12">
                                                    <div class="smallLabelText">City <span class="bodyText required">&#9913;</span><apex:outputLabel id="CityValidation" value="" styleClass="bodyText required" /> </div>
                                                    <div>
                                                        <apex:inputField taborderhint="9" Styleclass="formField form-custom-input field-change-event" value="{!BuldEdit.City__c}" label="City"  id="City" onchange="flagDisableBeforeUnload=false;"/>  
                                                       
                                                    </div>
                                                </div>
                                                
                                            </div>
                                            
                                            <div class="col-md-3 nopadding-left">
                                                
                                                <div class="clearfix margin-bottom-20">
                                                    <div class="smallLabelText">First Name <span class="bodyText required">&#9913;</span><apex:outputLabel id="FNValid" value="" styleClass="bodyText required" /> </div>
                                                    <div>
                                                         <apex:inputField taborderhint="2" Styleclass="formField form-custom-input field-change-event" label="First Name" value="{!BuldEdit.First_Name__c}"  id="FirstName" onchange="flagDisableBeforeUnload=false;"/>  
                                                        
                                                    </div>
                                                </div>
                                                
                                                <div class="clearfix margin-bottom-20">
                                                    <div class="smallLabelText">Company</div>
                                                    <div>
                                                        <apex:inputField taborderhint="6" Styleclass="formField form-custom-input field-change-event" label="Company"  id="Company" value="{!BuldEdit.Name}" onchange="flagDisableBeforeUnload=false;"/>  
                                                       
                                                    </div>
                                                </div>
                                                
                                                
                                                <div class="clearfix margin-top-12">
                                                    <div class="smallLabelText">State <span class="bodyText required">&#9913;</span><apex:outputLabel id="StateValidation" value="" styleClass="bodyText required" /></div>
                                                    <div>
                                                         <apex:inputField taborderhint="10" Styleclass="formField width-100" label="State" value="{!BuldEdit.State__c}"  id="State" onchange="flagDisableBeforeUnload=false;" required="true"/> 
                                                        
                                                    </div>
                                                </div>
                                                
                                                
                                            </div>
                                            
                                            <div class="col-md-3 nopadding-left">
                                                
                                                <div class="clearfix margin-bottom-20">
                                                    <div class="smallLabelText">Last Name <span class="bodyText required">&#9913;</span> <apex:outputLabel id="LNValid" value="" styleClass="bodyText required" /></div>
                                                    <div>
                                                        <apex:inputField taborderhint="3" Styleclass="formField form-custom-input field-change-event" label="Last Name"  id="LastName" value="{!BuldEdit.Last_Name__c}" onchange="flagDisableBeforeUnload=false;"/>  
                                                        
                                                    </div>
                                                </div>
                                                
                                                <div class="clearfix margin-bottom-20">
                                                    <div class="smallLabelText">Address <span class="bodyText required">&#9913;</span><apex:outputLabel id="AddrValidation" value="" styleClass="bodyText required" /> </div>
                                                    <div>
                                                        <apex:inputField taborderhint="7" Styleclass="formField form-custom-input field-change-event" label="Address"  id="Addr" value="{!BuldEdit.Address__c}" onchange="flagDisableBeforeUnload=false;"/> 
                                                       
                                                    </div>
                                                </div>
                                                
                                                <div class="clearfix margin-top-12">
                                                    <div class="smallLabelText">Zip / Postal Code<span class="bodyText required">&#9913;</span><apex:outputLabel id="postal" value="" styleClass="bodyText required" /> </div>
                                                    <div>
                                                        <apex:inputField taborderhint="11" Styleclass="formField form-custom-input field-change-event" label="postal code"  id="postalCode" value="{!BuldEdit.Postal_Code__c}" onchange="flagDisableBeforeUnload=false;"/>  
                                                       
                                                    </div>
                                                </div>
                                                
                                            </div>
                                            
                                            <div class="col-md-3 nopadding-left">
                                                
                                                <div class="clearfix margin-bottom-20">
                                                    <div class="smallLabelText">Email <span class="bodyText required">&#9913;</span><apex:outputLabel id="emailvalidation" value="" styleClass="bodyText required" /> </div>
                                                    <div>
                                                        <apex:inputField taborderhint="4" Styleclass="formField form-custom-input field-change-event" label="Email"  id="email" value="{!BuldEdit.Email_Address__c}" onchange="flagDisableBeforeUnload=false;"/> 
                                                        
                                                    </div>
                                                </div>
                                                
                                                <div class="clearfix margin-bottom-20">
                                                    <div class="smallLabelText">Address 2</div>
                                                    <div>
                                                       <apex:inputField taborderhint="8" Styleclass="formField form-custom-input field-change-event" label="Address2"  id="Address2" value="{!BuldEdit.Address_2__c}" onchange="flagDisableBeforeUnload=false;"/>  
                                                       
                                                    </div>
                                                </div>
                                                
                                                <div class="clearfix margin-top-12">
                                                    <div class="smallLabelText">Country <span class="bodyText required">&#9913;</span> <apex:outputLabel id="countryValidation" value="" styleClass="bodyText required" /></div>
                                                    <div>
                                                     <apex:inputField taborderhint="12" Styleclass="formField width-100" label="Country"  id="country" value="{!BuldEdit.Country__c}" onchange="flagDisableBeforeUnload=false;" required="true"/>  
                                                       
                                                    </div>
                                                </div>
                                            
                                            </div>
                                            
                                            
                                            
                                            
                                        </div>
                                        
                                        <div class="clearfix" style="margin-top:20px;">
                                            <apex:commandLink tabindex="14" styleclass="linkText" value="Cancel" immediate="true" action="{!buidingOwnerCancel}"/>
                                            <input type="button" tabindex="13" class="primary-button save-btn" value="SAVE" onclick="flagDisableBeforeUnload = true;return buildingOwnerValidation();"/>
                                            
                                        </div>
                                        
                                    </section>
                                </div>
                                <!-- /#main-body -->
                            </div>
                            <!-- /.Tab -Content -->
                            
                        
                        </div>
                        <!-- #ng-view -->
                    </div>
                    <!-- /# ng-viw-wrapper -->
                    
                    <c:LCBS_footer_new_latest />
                </div>
                
                
            </body>
         </html> 
    </apex:form>
    <!-- apex:form #myform -->   
</apex:page>