<apex:page standardController="Building__c" extensions="LCBSBuildingOwner_Controller" showChat="false" showHeader="false" sidebar="false" standardStylesheets="false">
    <apex:form id="myform">
    <apex:includescript value="https://code.jquery.com/jquery-1.11.1.min.js" / >
    <apex:includescript value="https://cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js" />
    <apex:stylesheet value="https://cdn.datatables.net/1.10.4/css/jquery.dataTables.css" />
    <script type="text/javascript">
              j$ = jQuery.noConflict();
              console.log(j$);
              j$(document).ready( function () {
                j$('.dropdown-toggle').dropdown();  
              });      
    </script>
    <style>
    /*
    .noPad{padding:0 !important}
    .form-control-custom{width:430px !important;height:50px !important}
    .tab-links li.active {border:1px solid #ccc}
    .select-state select{
        display: block;
        width: 75%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555555;
        background-color: #ffffff;
        background-image: none;
        border: 1px solid #cccccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;                
    }
    .btn-default:active, .btn-default.active{
         background-color: #00ADFF;
         color: #fff;
    }
    .form-custom-input{
        font-family: HelveticaRegular !important;
        font-size: 0.875rem !important;
        color: #404040 !important;
    } */
    /* Styles TODO-duplicate code (was there in more_info_page ) */
        #main-body{margin-bottom:20px;}
        .cmn-row{
            width: 100%;
        }
        .col-md-4{
            width: 33.33333333%;
            padding: 0 15px;
            float: left;
        }
        .col-md-4.right{
            text-align:right;
        }
        .col-md-4.nopadding{padding:0;}
        .col-md-4.center{
            text-align:center;
        }
        .margin-top-10{
            margin-top: 10px;
        }
        .no-padding-left{
            padding-left: 0px;
        }
        .li-margin-bottom-20 > li{
            margin-bottom: 20px;
        }
        .underline{
            margin-right: 50px;
            border-bottom: 1px solid #eee;
        }
        /* .tab-dropdown .dropdown{display:none;} */
        @media (max-width: 1024px){          
            .cmn-row .col-md-4{width: 100%;}
            .cmn-row .col-md-4.center{text-align:left;}
            .cmn-row .col-md-4.right > span.bodyText{float: left;}
            .cmn-row .col-md-4.right{text-align:center;}
            .cmn-row .col-md-4.nopadding{padding: 0 10rem;border-bottom: 1rem solid #eee;margin-top: 5rem;}
            .cmn-row .underline{margin-right: 0;}
            .text-center-xs{text-align:center;}
        }
        /* New Styles */
        .cmn-row select, .cmn-row input[type="text"]{
            width: 100%;
        }
        .requiredBlock select{
            width:100%;
        }
        .clear-btn{
            height: 13%;
            height: 36px;
            -webkit-border-radius: 13;
            -moz-border-radius: 13;
              font-family: Georgia;
              color: #ffffff;
              background: #1272b2;
              padding: 5px 10px 5px 10px;
              text-decoration: none;
              outline: none;
            border: none;
            margin-left: 2px;
            cursor: pointer;
            
        }
    
        .clear-btn:hover{
            background: #3cb0fd;
            text-decoration: none;
        }
        .cancel-btn{
            outline: none;
            border: none;
            padding: 0;
            background: transparent;
            cursor: pointer;
            color: #1792e5;
        }
        .save-btn{
            margin-left: 17px;
            outline: none;
            border: none;
            cursor: pointer;
        }
        .margin-bottom-20{
            margin-bottom: 20px;
        }
        
        .assign-btn{
            display:inline;
            margin-left: 10px;
            padding: 7px;
        }
        
        /* Margin Styles */
        .margin-top-20{
            margin-top:20rem;
        }
        .margin-0{
            margin: 0 !important;
        }
        
        
        /* New Styles */
        section#main-content{
            padding: 0;
            background-color: transparent;
        }
        
        .tab-content h1{
            font-size: 24rem;
            margin: 20rem 0;
            display: inline-block;
        }
        
        section#main-content .action-menu{
            display: inline-block;
            margin-left: 10px;
        }
        
        .dropdown.action-dropdown{
             margin-top: 0;
        }
    </style>
    <script>
        j$ = jQuery.noConflict();
            j$(document).ready( function () {
            j$('.dropdown-toggle').dropdown();
        });
    </script>
    
    <script>
        function clearErrors()
       {
              document.getElementById("dispError").style.display= "none";
              jQuery('[id$=email]').css("borderColor", "");
              jQuery('[id$=email]').css("borderStyle", "");
              jQuery('[id$=email]').css("backgroundColor","");
          
              jQuery('[id$=emailvalidation]').css("color","");
              jQuery('[id$=emailvalidation]').text("");
         
              jQuery('[id$=phoneNumber]').css("borderColor", "");
              jQuery('[id$=phoneNumber]').css("borderStyle", "");
              jQuery('[id$=phoneNumber]').css("backgroundColor","");
              jQuery('[id$=phone]').css("color","");
              jQuery('[id$=phone]').text("");
              jQuery('[id$=postal]').css("color","");
              jQuery('[id$=postal]').text("");
              jQuery('[id$=postalCode]').css("borderColor", "");
              jQuery('[id$=postalCode]').css("borderStyle", "");
              jQuery('[id$=postalCode]').css("backgroundColor","");
              jQuery('[id$=email]').css("borderColor", "");
              jQuery('[id$=email]').css("borderStyle", "");
              jQuery('[id$=email]').css("backgroundColor","");
              jQuery('[id$=emailvalidation]').css("color","");
              jQuery('[id$=emailvalidation]').text("");
              jQuery('[id$=companyname]').css("borderColor", "");
              jQuery('[id$=companyname]').css("borderStyle", "");
              jQuery('[id$=companyname]').css("backgroundColor", "");
              jQuery('[id$=companyvalidation]').css("Color","");
              jQuery('[id$=companyvalidation]').text("");
              jQuery('[id$=Addr]').css("borderColor", "");
              jQuery('[id$=Addr]').css("borderStyle", "");
              jQuery('[id$=Addr]').css("backgroundColor","");
              jQuery('[id$=AddrValidation]').css("color","");
              jQuery('[id$=AddrValidation]').text("");
              jQuery('[id$=postalCode]').css("borderColor", "");
              jQuery('[id$=postalCode]').css("borderStyle", "");
              jQuery('[id$=postalCode]').css("backgroundColor","");
              jQuery('[id$=City]').css("borderColor", "");
              jQuery('[id$=City]').css("borderStyle", "");
              jQuery('[id$=City]').css("backgroundColor","");
              jQuery('[id$=CityValidation]').css("color","");
              jQuery('[id$=CityValidation]').text("");
              jQuery('[id$=State]').css("borderColor", "");
              jQuery('[id$=State]').css("borderStyle", "");
              jQuery('[id$=State]').css("backgroundColor","");
              jQuery('[id$=StateValidation]').css("color","");
              jQuery('[id$=StateValidation]').text("");
              jQuery('[id$=FirstName]').css("borderColor", "");
              jQuery('[id$=FirstName]').css("borderStyle", "");
              jQuery('[id$=FirstName]').css("backgroundColor","");
              jQuery('[id$=FNValid]').css("color","");
              jQuery('[id$=FNValid]').text("");
              jQuery('[id$=LastName]').css("borderColor", "");
              jQuery('[id$=LastName]').css("borderStyle", "");
              jQuery('[id$=LastName]').css("backgroundColor","");
              jQuery('[id$=LNValid]').css("color","");
              jQuery('[id$=LNValid]').text("");
              jQuery('[id$=Title]').css("borderColor", "");
              jQuery('[id$=Title]').css("borderStyle", "");
              jQuery('[id$=Title]').css("backgroundColor","");
              jQuery('[id$=TitleValidation]').css("color","");
              jQuery('[id$=TitleValidation]').text("");
              jQuery('[id$=email]').css("borderColor", "");
              jQuery('[id$=email]').css("borderStyle", "");
              jQuery('[id$=email]').css("backgroundColor","");   
              jQuery('[id$=phoneNumber]').css("borderColor", "");
              jQuery('[id$=phoneNumber]').css("borderStyle", "");
              jQuery('[id$=phoneNumber]').css("backgroundColor","");
              jQuery('[id$=country]').css("borderColor", "");
              jQuery('[id$=country]').css("borderStyle", "");
              jQuery('[id$=country]').css("backgroundColor","");
              jQuery('[id$=countryValidation]').css("color","");
              jQuery('[id$=countryValidation]').text("");
           
              jQuery('[id$=postal]').text("");
              jQuery('[id$=emailvalidation]').css("color","");
              jQuery('[id$=emailvalidation]').text("");
              jQuery('[id$=email]').css("borderColor", "");
              jQuery('[id$=email]').css("borderStyle", "");
              jQuery('[id$=email]').css("backgroundColor","");
        
       }
        function buildingOwnerValidation()
        {
          clearErrors();
          var a = jQuery('[id$=phoneNumber]').val();
          var phoneNum = a.replace(/[^\d]/g, '');
          var zipCode = jQuery('[id$=postalCode]').val();
          zipCode = zipCode.toString().trim();
          var email = jQuery('[id$=email]').val();
          email = email.toString().trim();
          var ErrorMsg = '';
          var re = new RegExp(/^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i);
          var us = new RegExp("^\\d{5}(-{0,1}\\d{4})?$");
          var ca = new RegExp(/^[ABCEGHJKLMNPRSTVXY]\d[ABCEGHJKLMNPRSTVWXYZ]( )?\d[ABCEGHJKLMNPRSTVWXYZ]\d$/i);
         if(jQuery('[id$=companyname]').val()=='')
         {
          jQuery('[id$=companyname]').css("borderColor", "red");
          jQuery('[id$=companyname]').css("borderStyle", "solid");
          jQuery('[id$=companyname]').css("backgroundColor","");
          jQuery('[id$=companyvalidation]').css("color","red");
          jQuery('[id$=companyvalidation]').text("Required");
          if(ErrorMsg == '')
              {
               ErrorMsg ='Please enter ';
              }
              ErrorMsg =ErrorMsg + 'Company Name, ';
          }
          
         if(jQuery('[id$=Addr]').val()=='')
          {
              jQuery('[id$=Addr]').css("borderColor", "red");
              jQuery('[id$=Addr]').css("borderStyle", "solid");
              jQuery('[id$=Addr]').css("backgroundColor","");
              jQuery('[id$=AddrValidation]').css("color","red");
              jQuery('[id$=AddrValidation]').text("Required");
              if(ErrorMsg == '')
              {
               ErrorMsg ='Please enter ';
              }
              ErrorMsg =ErrorMsg + 'Address, ';
          }    
          
          if(jQuery('[id$=postalCode]').val()=='')
          {
              jQuery('[id$=postalCode]').css("borderColor", "red");
              jQuery('[id$=postalCode]').css("borderStyle", "solid");
              jQuery('[id$=postalCode]').css("backgroundColor","");
              jQuery('[id$=postal]').css("color","red");
              jQuery('[id$=postal]').text("Required");
              if(ErrorMsg == '')
                  {
                   ErrorMsg ='Please enter ';
                  }
                ErrorMsg =ErrorMsg + 'Postal code, ';
          }
          
          if(jQuery('[id$=City]').val()=='')
          {
              jQuery('[id$=City]').css("borderColor", "red");
              jQuery('[id$=City]').css("borderStyle", "solid");
              jQuery('[id$=City]').css("backgroundColor","");
               jQuery('[id$=CityValidation]').css("color","red");
              jQuery('[id$=CityValidation]').text("Required");
              if(ErrorMsg == '')
                  {
                   ErrorMsg ='Please enter ';
                  }
              ErrorMsg =ErrorMsg + 'City, ';
          }
          if(jQuery('[id$=State]').val()=='--Select--')
          {
              jQuery('[id$=State]').css("borderColor", "red");
              jQuery('[id$=State]').css("borderStyle", "solid");
              jQuery('[id$=State]').css("backgroundColor","");
               jQuery('[id$=StateValidation]').css("color","red");
              jQuery('[id$=StateValidation]').text("Required");
              if(ErrorMsg == '')
                  {
                   ErrorMsg ='Please enter ';
                  }
              ErrorMsg =ErrorMsg + 'State, ';
          }
         
          if(jQuery('[id$=FirstName]').val()=='') 
          {
              jQuery('[id$=FirstName]').css("borderColor", "red");
              jQuery('[id$=FirstName]').css("borderStyle", "solid");
              jQuery('[id$=FirstName]').css("backgroundColor","");
              jQuery('[id$=FNValid]').css("color","red");
              jQuery('[id$=FNValid]').text("Required");
              if(ErrorMsg == '')
                  {
                   ErrorMsg ='Please enter ';
                  }
              ErrorMsg =ErrorMsg + 'First Name, ';
          }
         
          
          if(jQuery('[id$=LastName]').val()=='') 
          {
              jQuery('[id$=LastName]').css("borderColor", "red");
              jQuery('[id$=LastName]').css("borderStyle", "solid");
              jQuery('[id$=LastName]').css("backgroundColor","");
               jQuery('[id$=LNValid]').css("color","red");
              jQuery('[id$=LNValid]').text("Required");
              if(ErrorMsg == '')
                  {
                   ErrorMsg ='Please enter ';
                  }
              ErrorMsg =ErrorMsg + 'Last Name, ';
          }
         
          if(jQuery('[id$=Title]').val()=='') 
          {
              jQuery('[id$=Title]').css("borderColor", "red");
              jQuery('[id$=Title]').css("borderStyle", "solid");
              jQuery('[id$=Title]').css("backgroundColor","");
              jQuery('[id$=TitleValidation]').css("color","red");
              jQuery('[id$=TitleValidation]').text("Required");
              if(ErrorMsg == '')
                  {
                   ErrorMsg ='Please enter ';
                  }
              ErrorMsg =ErrorMsg + 'Title, ';
          }
         
          if(jQuery('[id$=email]').val()=='')
          {
              jQuery('[id$=email]').css("borderColor", "red");
              jQuery('[id$=email]').css("borderStyle", "solid");
              jQuery('[id$=email]').css("backgroundColor","");
              jQuery('[id$=emailvalidation]').css("color","red");
              jQuery('[id$=emailvalidation]').text("Required");
              if(ErrorMsg == '')
                  {
                   ErrorMsg ='Please enter ';
                  }     
              ErrorMsg =ErrorMsg + 'Email, ';
          }
          
          if(jQuery('[id$=phoneNumber]').val()=='') 
          {
              jQuery('[id$=phoneNumber]').css("borderColor", "red");
              jQuery('[id$=phoneNumber]').css("borderStyle", "solid");
              jQuery('[id$=phoneNumber]').css("backgroundColor","");
              jQuery('[id$=phone]').css("color","red");
              jQuery('[id$=phone]').text("Required");
              if(ErrorMsg == '')
                  {
                   ErrorMsg ='Please enter ';
                  }
              ErrorMsg =ErrorMsg + 'Phone Number, ';
          }
      
         
          if((jQuery('[id$=phoneNumber]').val() !='') && (phoneNum.length < 6 || phoneNum.length > 11))
          {
              jQuery('[id$=phone]').css("color","red");
              jQuery('[id$=phone]').text("Not a valid Phone Number");
              jQuery('[id$=phoneNumber]').css("borderColor", "red");
              jQuery('[id$=phoneNumber]').css("borderStyle", "solid");
              jQuery('[id$=phoneNumber]').css("backgroundColor","");
               
                  ErrorMsg = ErrorMsg+' Please enter a valid Phone Number';
          }
           if((jQuery('[id$=country]').val()=='--Select--') || (jQuery('[id$=country]').val()==''))
          {
              jQuery('[id$=country]').css("borderColor", "red");
              jQuery('[id$=country]').css("borderStyle", "solid");
              jQuery('[id$=country]').css("backgroundColor","");
              jQuery('[id$=countryValidation]').css("color","red");
              jQuery('[id$=countryValidation]').text("Required");
              if(ErrorMsg == '')
                  {
                   ErrorMsg ='Please enter ';
                  }     
              ErrorMsg =ErrorMsg + 'Country, ';
          }
          if((jQuery('[id$=country]').val()=='United States')&&( jQuery('[id$=postalCode]').val()!= '')&&((!us.test(zipCode.toString()))))
          {
              jQuery('[id$=postal]').css("color","red");
              jQuery('[id$=postal]').text("Not a valid Postal/ZIP Code");
              jQuery('[id$=postalCode]').css("borderColor", "red");
              jQuery('[id$=postalCode]').css("borderStyle", "solid");
              jQuery('[id$=postalCode]').css("backgroundColor","");
             
                  ErrorMsg =ErrorMsg +' Please enter a valid Postal Code';
          }
          
          if((jQuery('[id$=country]').val()=='Canada')&&( jQuery('[id$=postalCode]').val()!= '')&&((!ca.test(zipCode.toString()))))
          {
          
              jQuery('[id$=postal]').css("color","red");
              jQuery('[id$=postal]').text("Not a valid Postal/ZIP Code");
              jQuery('[id$=postalCode]').css("borderColor", "red");
              jQuery('[id$=postalCode]').css("borderStyle", "solid");
              jQuery('[id$=postalCode]').css("backgroundColor","");
            
                  ErrorMsg =ErrorMsg +' Please enter a valid Postal Code';
          }
          
          if((!re.test(jQuery('[id$=email]').val()))&&(jQuery('[id$=email]').val() != ''))
          {
           jQuery('[id$=emailvalidation]').css("color","red");
           jQuery('[id$=emailvalidation]').text("Not a valid email address");
           jQuery('[id$=email]').css("borderColor", "red");
           jQuery('[id$=email]').css("borderStyle", "solid");
           jQuery('[id$=email]').css("backgroundColor","");
           
                  ErrorMsg = ErrorMsg +' Please enter a valid Email';
          }
          ErrorMsg = ErrorMsg+".";
          
          ErrorMsg = ErrorMsg.replace(", .",".");
                 
          
          ErrorMsg = ErrorMsg.trim(); 
          
          if(ErrorMsg == '.')
          {
           disablesave();
           document.getElementById("dispError").style.display= "none";
           buildingOwner();
           
          }
          if(ErrorMsg != '.')
          {
           document.getElementById("dispError").style.display= "block";
           return false;
          }

         
      
      }
       </script>
    
    
    <html>
        <head>
          <meta charset="utf-8" />
          <meta http-equiv="X-UA-Compatible" content="IE=edge" />
          <meta name="viewport" content="width=device-width, initial-scale=1" />
          <meta name="description" content="" />
          <meta name="author" content="" />
          <title>
            Honeywell LCBS Contractor Portal
          </title>
          <!-- Bootstrap core CSS -->
          
            <!--  <apex:stylesheet value="{!URLFOR($Resource.LCBS_CSS, 'css/honeywell-lcbs.css')}" /> -->
        <!-- <apex:stylesheet value="{!PAGE_CSS}"/> -->
          
          
          
          
          
         
          <apex:includeScript value="{!URLFOR($Resource.LCBS_JS, 'js/bootstrap.js')}"/>
          <apex:includeScript value="{!URLFOR($Resource.LCBS_JS, 'js/bootstrap.min.js')}"/>
          <apex:includeScript value="{!URLFOR($Resource.LCBS_JS, 'js/npm.js')}"/>
           <apex:includeScript value="{!URLFOR($Resource.LCBS_Font)}"/>
          <!--  <apex:stylesheet value="{!URLFOR('https://az771491.vo.msecnd.net/content/honeywell.lcbs.css')}"/>
    <apex:stylesheet value="{!URLFOR('https://az771491.vo.msecnd.net/content/honeywell.lcbs.fonts.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.LCBS_CSS, 'css/salesforce_CSS.css')}" />
          <apex:stylesheet value="{!URLFOR($Resource.LCBS_CSS, 'css/sticky-footer.css')}" />
           <apex:stylesheet value="{!URLFOR($Resource.LCBS_CSS, 'css/bootstrap.min.css')}" />
    <apex:stylesheet value="{!URLFOR('https://az771491.vo.msecnd.net/content/bootstrap.css?v=3.3.5')}"/>
  <apex:stylesheet value="{!URLFOR('https://az771491.vo.msecnd.net/content/bootstrap.css?v=3.3.1')}"/> 
    <apex:stylesheet value="{!URLFOR('https://az771491.vo.msecnd.net/content/honeywell.lcbs.header.css')}"/>
    <apex:stylesheet value="{!URLFOR('https://az771491.vo.msecnd.net/content/normalize.css?v=3.0.2')}"/> -->

     </head>
     <body>
        
        <c:LCBS_Mobile_Nav />
     
         <div id="body-inner" class="background">
            
            <div class="container ng-scope" ng-controller="AlertController as vm">            
            </div>
         
            <c:LCBSDistributorHeader_New_Latest />
            
            <div id="dispError" style="display:none;border:2px;color:red;font-size:15px;height:20%;padding:5px;width:100%;background:#F2F2F2;border:2px solid red;">
                <table>
                    <tr>
                        <td><apex:image url="{!URLFOR($Resource.LCBS_Error, 'error/error.jpg')}" height="30px" width="30px" style="margin-left:2%;"/> </td>
                        <td><apex:outputLabel escape="true"  id="error" value="Please correct the errors below." style="border:2px;color:red;font-size:15px;height:20%;width:100%;padding-top:-25%;padding-bottom:8%;margin-left:8%;margin-right:2%;"/></td>
                    </tr>
                </table>
            </div>
            
            <!-- -->
            <div id="ng-view-wrapper">
                <div id="ng-view" class="ng-scope">
                    <div id="main-tab" class="ng-scope">
                        <header class="clearfix">
                            <h1 class="ng-binding">{!Building__c.Name}</h1>
                        </header>
                         <apex:actionFunction name="alert" action="{!alertsPage}"/>
                         <apex:actionFunction name="controls" action="{!controlsPage}"/>
                         <apex:actionFunction name="equipment" action="{!equipmentPage}"/>
                        <div class="marginBuildingTab">
                            <building-nav-bar model="navSelected" options="navOptions">
                                <nav class="btn-group tabs clearfix">
                                  <!--<a href="javascript:void(0);" ng-repeat="option in navOptions" ng-class="{active: isActive(option)}" ng-click="activate(option)" class="btn btn-default ng-binding ng-scope">Alerts</a>
                                    <a href="javascript:void(0);" ng-repeat="option in navOptions" ng-class="{active: isActive(option)}" ng-click="activate(option)" class="btn btn-default ng-binding ng-scope">Controls</a> -->
                                    <a href="javascript:void(0);" onclick="alert();" ng-repeat="option in navOptions" ng-class="{active: isActive(option)}" ng-click="activate(option)" class="btn btn-default ng-binding ng-scope">Alerts</a> 
                                    <a href="javascript:void(0);" onclick="controls();" ng-repeat="option in navOptions" ng-class="{active: isActive(option)}" ng-click="activate(option)" class="btn btn-default ng-binding ng-scope">Controls</a>                                                                 
                                  <!--  <a href="javascript:void(0);" onclick="equipment();" ng-repeat="option in navOptions" ng-class="{active: isActive(option)}" ng-click="activate(option)" class="btn btn-default ng-binding ng-scope">Equipments</a>  -->                              
                                    <a href="javascript:void(0);" ng-repeat="option in navOptions" ng-class="{active: isActive(option)}" ng-click="activate(option)" class="btn btn-default ng-binding ng-scope active">Information</a>                                                                                 
                                </nav>
                                <!-- TODO -->
                                <div class="tab-dropdown">
                                    <div class="dropdown">
                                        <a aria-expanded="false" class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">Information</a>
                                        <ul class="dropdown-menu">
                                            <!-- <li><a class="headerText" href="#">Equipment</a></li> -->
                                            <li><a class="headerText" href="#">Alerts</a></li>
                                           <!-- <li><a class="headerText" href="#">Equipment</a></li>-->
                                            <li><a class="headerText" href="#">Information</a></li>
                                        </ul>
                                    </div>
                                </div>
                                
                                
                                <div id="cboBuildingTab" class="dropdown hidden-lg" style="display:none;">
                               <!--     <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Equipment<b class="caret"></b></button>-->
                                    <ul class="dropdown-menu">
                                    <!-- ngRepeat: option in navOptions -->
                                    <li ng-repeat="option in navOptions" ng-click="selectedValue(option)" class="ng-scope"><a tabindex="-1" href="#" class="ng-binding">Alerts</a></li>
                                    <!-- end ngRepeat: option in navOptions -->
                                  <!--  <li ng-repeat="option in navOptions" ng-click="selectedValue(option)" class="ng-scope"><a tabindex="-1" href="#" class="ng-binding">Equipment</a></li> -->
                                    <!-- end ngRepeat: option in navOptions -->
                                    <li ng-repeat="option in navOptions" ng-click="selectedValue(option)" class="ng-scope"><a tabindex="-1" href="#" class="ng-binding">Information</a></li>
                                    <!-- end ngRepeat: option in navOptions -->
                                    </ul>
                                </div>
                            </building-nav-bar>
                        </div>
                        <!-- /. Tabs End -->
                    </div>
                    <!-- /# main-tab -->
                    
                    <!-- Tab Content -->
                    <apex:actionFunction name="EbuildingOwner" action="{!EbuildingOwnerSave}"/>               
                    <apex:actionFunction name="buildingOwner" action="{!buildingOwnerSave}"/>
                    
                    <div class="tab-content ng-scope" ui-view="content">
                        <div class="ng-scope" id="main-body">
                            <div class="cmn-row clearfix">
                                <header class="clearfix margin-top-20">
                                    <section id="main-content">
                                    <div class="">
                                        <h1 class="margin-0" >Assign a Building Owner</h1>
                                        
                                        <div class="dropdown action-dropdown">
                                            <a class="actions dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-expanded="false">Actions</a>
                                            <ul class="dropdown-menu" role="menu">
                                                <li>
                                                    <a link-to-url="AddBuildingOwnerUrl" href="/LCBS_New_Edit_BuildingOwner?buildingid={!BuildingId}&act=n" >ADD OWNER</a>
                                                </li>
                                            </ul>
                                        </div>                                        
                                    
                                        <div class="controls">
                                            <div class="sort-by dropdown-toggle ng-binding" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Sort By
                                                <div class="caret"></div>
                                            </div>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" ng-disabled="buildingList.length == 0">
                                                <li class="disabled">
                                                    <a href="#" >Name (A-Z)</a>
                                                </li>
                                                <li class="disabled">
                                                    <a href="#" >Name (Z-A)</a>
                                                </li>
                                                <li class="disabled">
                                                    <a href="#" >Phone</a>
                                                </li>
                                                <li class="disabled">
                                                    <a href="#" >Email (A-Z)</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    </section>
                                </header>
                                <div>
                                     When you assign a building owner, they will receive an email requesting permission for you to create and manage the building on this website.
                                </div>
                                
                                <script>
                                    function Eowner()
                                    { 
                                      $("#buildingowner" ).hide();
                                      $("#ebuildingowner" ).show(); 
                                      $("#owner").prop('checked', false);
                                      $("#eowner").prop('checked', true);
                                      ebuildOwner();                  
                                    }
                                    
                                    function owner()
                                    { 
                                      $("#ebuildingowner" ).hide(); 
                                      $("#buildingowner" ).show(); 
                                      $("#owner").prop('checked', true);  
                                      $("#eowner").prop('checked', false);
                                      buildOwner();          
                                    }
                                </script>
                                
                                <!-- Existing Building Owners List UI as Table  -->
                                <div class="clearfix margin-top-20" >
                                     <ul class="building-owner-list clarfix">
                                        <apex:repeat id="Bowners" value="{!BuildingOwners}" var="b">
                                            
                                            <li class="item" style="word-break: break-all;">
                                                <article class="clearfix">
                                                    <span class="name">{!b.First_Name__c} {!b.Last_Name__c}</span>
                                                    <span class="name">{!b.Phone_Number__c}</span>
                                                    <span class="name" >{!b.Email_Address__c}</span>
                                                    <span class="name right">
                                                        <apex:outputPanel rendered="{!IF(currentuser.contact.Role__c == 'Owner'||currentuser.contact.Role__c == 'Delegate',true,false)}"><a href="/LCBS_New_Edit_BuildingOwner?id={!b.id}&buildingid={!BuildingId}&act=e" class="pencil-icon" ><img src="{!URLFOR($Resource.LCBS_New_Icons, 'edit_icon.png')}" /></a></apex:outputPanel> 
                                                        <apex:commandLink styleclass="secondary-button assign-btn" value="Assign" action="{!AssignBuildingOwner}">
                                                            <apex:param assignTo="{!currentBOwner}" value="{!b.id}" name="currentBOwner"/>
                                                        </apex:commandLink>
                                                    </span>
                                                </article>
                                            </li>
                                        </apex:repeat>
                                    </ul>
                                </div>
                                <!-- Existing Building Owners List UI as Table  -->
                                
                                
                                
                                <!-- TODO Hiding Select Box -->
                                <!--<div class="clearfix margin-top-10" style="margin-top: 30px;">
                                    <div class="largeLabelText">Select:</div>
                                    <div>
                                        <apex:selectList size="1" value="{!country}" styleClass="formField form-custom-input" style="width:auto;">
                                            <apex:actionSupport event="onchange" action="{!selectcountry}"/>
                                            <apex:selectOptions value="{!picklistvalues}">
                                            </apex:selectOptions>
                                        </apex:selectList>
                                    </div>
                                </div> -->
                                <!-- TODO Hiding Select Box -->
                                
                                
                                <div class="clearfix">
                                    <apex:actionFunction name="buildOwner" reRender="myform" action="{!displaySec}"/>
                                    <apex:actionFunction name="ebuildOwner" reRender="myform" action="{!displaySec}"/>
                                    
                                    <!-- Panel -->
                                    <apex:outputPanel id="panel1" rendered="{!Exist}">
                                    <div style="margin-top:20px;">
                                         <label for="eowner" class="largeLabelText">Assign an Existing Building Owner</label>
                                    </div>
                                    <div id="ebuildingowner">
                                        <div>
                                            <apex:selectList value="{!sBuildOwner}" multiselect="false" size="1" style="width:auto;" styleClass="formField form-custom-input"> 
                                                <apex:selectOptions value="{!BuildingOwners}"/>
                                            </apex:selectList>
                                         </div>
                                         <div class="clearfix ownerBtnControls" style="margin-left:5%; margin-right:5%; margin-top:20px">
                                                <!-- <apex:commandLink value="Cancel" style="width:50px;margin-right:3%;margin-left:3%;" action="{!buildingOwnerCancel}" />-->
                                                <apex:actionFunction name="OwnerCancel" action="{!buildingOwnerCancel}" />
                                                <input type="button" value="Cancel" style="margin-left:16%;" class="linkText cancel-btn" onclick="OwnerCancel();"/>
                                                <input type="button" value="Save" style="margin-left:2%;" class="cmn-btn primaryButton save-btn" onclick="EbuildingOwner();"/>
                                                <!-- <apex:commandButton value="Save" style="width:80px" styleClass="Button-Primary" action=""/>  <br/><br/> -->
                                          </div>
                                      </div>
                                    </apex:outputPanel>
                                    <!-- /# Panel -->
                                    
                                    <!-- Panel2 -->
                                    <apex:outputPanel id="panel2" rendered="{!New}">
                                        <div style="margin-top:20px;">
                                            <label for = "owner" class="largeLabelText" >Add a NEW Building Owner</label>
                                        </div>
                                        <div style="margin-top:20px;" class="cmn-row clearfix" id="buildingowner">
                                            <div class="col-md-4 no-padding-left">
                                                <div class="clearfix margin-top-10">
                                                    <div class="largeLabelText">Customer Type</div>
                                                    <div>
                                                        <apex:inputField Styleclass="formField form-custom-input" value="{!BuldENew.Customer_Type__c}"  id="cty" required="true" />
                                                    </div>
                                                </div>
                                                
                                                <div class="clearfix margin-top-10">
                                                     <div class="largeLabelText">
                                                         First Name <apex:outputLabel id="FNValid" value="" style="margin-left:2%;font-size:12px;"/>
                                                     </div>
                                                     <div>
                                                        <apex:inputField Styleclass="formField form-custom-input" value="{!BuldENew.First_Name__c}" id="FirstName"/>
                                                     </div>
                                                 </div>
                                                 
                                                 <div class="clearfix margin-top-10">
                                                     <div class="largeLabelText">
                                                         Last Name <apex:outputLabel id="LNValid" value="" style="margin-left:2%;font-size:12px;"/>
                                                     </div>
                                                     <div>
                                                         <apex:inputField Styleclass="formField form-custom-input" value="{!BuldENew.Last_Name__c}" id="LastName" />
                                                     </div>
                                                 </div>
                                                 
                                                 <div calss="clearfix margin-top-10">
                                                     <div class="largeLabelText">
                                                         Title <apex:outputLabel id="TitleValidation" value="" style="margin-left:2%;font-size:12px;"/>
                                                     </div>
                                                     <div>
                                                         <apex:inputField Styleclass="formField form-custom-input" value="{!BuldENew.Title__c}" id="Title" />
                                                     </div>
                                                 </div>
                                                 
                                                 <div class="clearfix margin-top-10">
                                                     <div class="largeLabelText">
                                                         Email <apex:outputLabel id="emailvalidation" value="" style="margin-left:2%;font-size:12px;"/>
                                                     </div>
                                                     <div>
                                                         <apex:inputField id="email" Styleclass="formField form-custom-input" value="{!BuldENew.Email_Address__c}"/>
                                                     </div>
                                                 </div>
                                                 
                                                 <div class="clearfix margin-top-10">
                                                     <div class="largeLabelText">
                                                         Phone Number <apex:outputLabel id="phone" value="" style="margin-left:2%;font-size:12px;"/>
                                                     </div>
                                                     <div>
                                                         <apex:inputField Styleclass="formField form-custom-input" id="phoneNumber" value="{!BuldENew.Phone_Number__c}"/>
                                                     </div>
                                                 </div>              
                                            </div>
                                            <!-- /. col-md-4 -->
                                            <div class="col-md-4">
                                                <div class="clearfix margin-top-10">
                                                     <div class="largeLabelText">
                                                         Company Name <apex:outputLabel id="companyvalidation" value="" style="margin-left:2%;font-size:12px;"/>
                                                     </div>
                                                     <div>
                                                         <apex:inputField id="companyname" Styleclass="formField form-custom-input" value="{!BuldENew.Name}"/>
                                                     </div>
                                                 </div>
                                                 
                                                 <div class="clearfix margin-top-10">
                                                     <div class="largeLabelText">
                                                         Street Address <apex:outputLabel id="AddrValidation" value="" style="margin-left:2%;font-size:12px;"/>
                                                     </div> 
                                                     <div class="margin-top-10"><apex:inputText Styleclass="formField form-custom-input" value="{!Address1}" id="Addr" /></div>
                                                     <div class="margin-top-10"><apex:inputText Styleclass="formField form-custom-input" value="{!Address2}" id="add2"/></div>
                                                     <div class="margin-top-10"><apex:inputText Styleclass="formField form-custom-input" value="{!Address3}" id="add3"/></div>   
                                                 </div>
                                                 
                                                 <div class="clearfix margin-top-10">
                                                     <div class="largeLabelText">
                                                         Country <apex:outputLabel id="countryValidation" value="" style="margin-left:2%;font-size:12px;"/>
                                                     </div>
                                                     <div><apex:inputField Styleclass="formField form-custom-input" id="country" value="{!BuldENew.Country__c}" required="true" /></div>
                                                 </div>
                                                 
                                                 <div class="clearfix margin-top-10">
                                                     <div class="largeLabelText">
                                                         Postal Code/Zip Code <apex:outputLabel id="postal" value="" style="margin-left:2%;font-size:12px;"/>
                                                     </div>
                                                     <div><apex:inputField Styleclass="formField form-custom-input" id="postalCode" value="{!BuldENew.Postal_Code__c}" /></div>
                                                 </div>
                                                 
                                                 <div class="clearfix margin-top-10">
                                                     <div class="largeLabelText">
                                                         City <apex:outputLabel id="CityValidation" value="" style="margin-left:2%;font-size:12px;"/>
                                                     </div>
                                                     <div><apex:inputField Styleclass="formField form-custom-input" value="{!BuldENew.City__c}"  id="City"/></div>
                                                 </div>
                                                 
                                                 <div class="clearfix margin-top-10 select-state">
                                                     <div class="largeLabelText">
                                                         State/Province/Region<apex:outputLabel id="StateValidation" value="" style="margin-left:2%;font-size:12px;"/>
                                                     </div>
                                                     <div><apex:inputField Styleclass="formField form-custom-input" value="{!BuldENew.State__c}"  id="State"  required="true"/></div> 
                                                 </div>
                                            </div>
                                            <!-- /. col-md-4 -->
                                        </div>
                                        <!-- /# buildingowner -->
                                        
                                        <script>
                                             function enablesave()
                                             {
                                                  document.getElementById("saveBowner").enabled= true;
                                                  document.getElementById("cancelBowner").enabled = true;
                                                  buildingOwnerValidation();
                                                  
                                             }
                                             
                                             function disablesave()
                                             {
                                                  document.getElementById("saveBowner").disabled = true;
                                                  document.getElementById("cancelBowner").disabled = true;
                                                  
                                                  
                                             }
                                              function disablecancel()
                                             {
                                                  document.getElementById("saveBowner").disabled = true;
                                                  document.getElementById("cancelBowner").disabled = true;
                                                  OwnerCancel();
                                                  
                                             }
                                         </script>
                                         <br/>
                                         
                                         <!-- Buttons / Actions -->
                                         <div class="clearfix ownerBtnControls" style="margin-top: 40px;margin-bottom: 20px;">
                                           <!-- <apex:commandLink value="Cancel" Styleclass="Secondary" style="margin-right:4%;" action="{!buildingOwnerCancel}"/> -->
                                              <apex:actionFunction name="OwnerCancel" action="{!buildingOwnerCancel}" />
                                              <input type="button" id="cancelBowner" value="Cancel" class="linkText cancel-btn" style="margin-left:16%;" onclick="disablecancel();"/>
                                           <!--  <apex:commandButton value="Save" action="{!buildingOwnerSave}" style="width:80px;margin-left:2%;" /> -->
                                              <input type="button" id="saveBowner" value="Save" class="cmn-btn primaryButton save-btn" style="margin-left:2%;" onclick="buildingOwnerValidation();" />
                                        </div>
                                        <!-- Button / Actions -->
                                         
                                    </apex:outputPanel>
                                    <!-- /# Panel2 -->
                                    
                                </div>
                                
                            </div>
                        </div>
                        <!-- /# main-body -->
                    </div>
                    <!-- /. tab-content -->
                    <!-- /. Tab Content -->
                </div>
                <!-- /# ng-view -->
            </div>
            <!-- /# ng-view-wrapper -->   
            
            <c:LCBS_footer_new_latest />              
         </div>
               
           
                 
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js">
            </script>
           <script src="js/bootstrap.min.js">
            </script>
            <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
            <script src="js/ie10-viewport-bug-workaround.js">
            </script>
  
        </body>
      </html>
      
    </apex:form>
  </apex:page>