<apex:page controller="LCBS_MyCompanyProfile_Controller"  showChat="false" showHeader="false" sidebar="false" standardStylesheets="true">
  <style>
    @font-face{
      font-family: lcbs_font;
      src: url("{
        !URLFOR($Resource.LCBS_Font)}
    ");
  }
    
  </style>
  
  <style type="text/css">
    body {
      font-family: Oxygen;
    }
    .btn-default {
      color: #333;
      background-color: #fff;
      border-color: #ccc;
    }
    .btn {
      display: inline-block;
      padding: 6px 12px;
      width:100%;
      margin-bottom: 0;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.42857143;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      touch-action: manipulation;
      cursor: pointer;
      -webkit-user-select: none;
      background-image: none;
      border: 1px solid transparent;
    }
    a {
      color: #337ab7;
      text-decoration: none;
    }
  </style>
  
  <apex:includescript value="//code.jquery.com/jquery-1.11.1.min.js" / >
    <apex:includescript value="//cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js" />
    <apex:stylesheet value="//cdn.datatables.net/1.10.4/css/jquery.dataTables.css" />
    <script>
      
      j$ = jQuery.noConflict();
      j$(document).ready( function () {
        j$('.dropdown-toggle').dropdown();
        var contactTable = j$('[id$="contacttable"]').DataTable({
                    order: [[0, 'asc']],
                    aoColumns : [
              null,
              null,
              null,
              null,
              { "bSortable": false },
              null,
              { "bSortable": false }
              
       
       ],
          initComplete: function() {
            var api = this.api();
            var select = j$('[id$=accountSelect]');
            api.column(0).data().unique().sort().each( function ( d, j ) {
              select.append( '<option value="'+d+'">'+d+'</option>' )
            }
                                                     );
            
          }
          
        }
                                                               );
        
        //j$('[id$=accountSelect]').change(function() {
        //  var val = j$.fn.dataTable.util.escapeRegex(
        //    j$(this).val()
        //);
        //contactTable.column(0)
        //  .search( val == 'All' ? '' : '^'+val+'$', true, false )
        //  .draw();
        //});
        
      }
                        );
      
    </script>
    <apex:form >
      <html>
        <head>
          <meta charset="utf-8" />
          <meta http-equiv="X-UA-Compatible" content="IE=edge" />
          <meta name="viewport" content="width=device-width, initial-scale=1" />
          <meta name="description" content="" />
          <meta name="author" content="" />
          <title>
            Honeywell LCBS Contractor Portal
          </title>
          <!-- Bootstrap core CSS -->
          <apex:stylesheet value="{!URLFOR($Resource.LCBS_CSS, 'css/bootstrap.min.css')}" />
          <apex:stylesheet value="{!URLFOR($Resource.LCBS_CSS, 'css/honeywell-lcbs.css')}" />
          <apex:stylesheet value="{!URLFOR($Resource.LCBS_CSS, 'css/sticky-footer.css')}" />
          <apex:includeScript value="{!URLFOR($Resource.LCBS_JS, 'js/bootstrap.js')}"/>
          <apex:includeScript value="{!URLFOR($Resource.LCBS_JS, 'js/bootstrap.min.js')}"/>
          <apex:includeScript value="{!URLFOR($Resource.LCBS_JS, 'js/npm.js')}"/>
          
          <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
          <!--[if lt IE 9]>
            <script src="js/ie8-responsive-file-warning.js">
            </script>
            <![endif]-->
          <script src="js/ie-emulation-modes-warning.js">
          </script>
          <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
          <!--[if lt IE 9]>
         <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js">
            </script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js">
            </script>
            <![endif]-->
          </head>
          
          <body>
        <apex:actionFunction name="InsertCompanyProfile" action="{!InsertCompanyProfile}"/>
          <!--   <apex:actionFunction name="CallOrder1" action="{!Order}" reRender="RefreshTable"/> -->
<c:LCBSCommunityHeader />
      <!--    <c:CommunityHeader />  -->
          
          <div style="background-color:#595959; color:grey;padding:20px; margin-top:-2px; text-align:center;">
            <h1>
              Complete Your Company Profile
            </h1>
          </div>
          <br/>
          <apex:pagemessages />
          
          <div class="container">
<div class="col-md-12">
<div class="row">

<div class="row">
<form>
  <div class="col-md-8">

  <div class="form-group">
    <label for="exampleCompanyName">Company name</label>
    
    <p> <apex:inputField Styleclass="form-control" value="{!AccountInfo.Name}" required="true"/> </p>
  </div>
  <!-- <div class="form-group">
    <label for="exampleCompanyName">Owner First name</label>
    <p> <apex:inputField Styleclass="form-control" value="{!acct.Name}"/> </p>
  </div>
   <div class="form-group">
    <label for="exampleCompanyName">Owner Last name</label>
    
    <p> <apex:inputField Styleclass="form-control" value="{!acct.Name}"/> </p>
  </div>-->
   <div class="form-group">
    <label for="exampleCompanyName">Address</label>
    <p> <apex:inputText value="{!AccountInfo.shippingStreet}" Styleclass="form-control" /> </p>
  </div>
   <div class="form-group">
    <label for="exampleCompanyName">City</label>
    
    <p> <apex:inputField Styleclass="form-control" value="{!AccountInfo.shippingCity}"/> </p>
  </div>
   <div class="form-group">
    <label for="exampleCompanyName">Country</label>
    
    <p> 
        <apex:selectList value="{!AccountInfo.shippingCountry}" size="1" Styleclass="form-control" style="padding-top: 2px;">
            <apex:selectOptions value="{!countryoption}"></apex:selectOptions>
            <apex:actionSupport event="onchange" reRender="state"/>
        </apex:selectList>
        <!--<apex:inputField value="{!acct.shippingCountry}"/>-->
    </p>
  </div>
   <div class="form-group">
    <label for="exampleCompanyName">State</label>
    
    <p>
        <apex:outputPanel id="state">
            <apex:selectList value="{!AccountInfo.shippingState}" size="1" Styleclass="form-control" style="padding-top: 2px;" >
                <apex:selectOptions value="{!stateoption}"></apex:selectOptions>
            </apex:selectList>
        </apex:outputPanel>
        <!--<apex:inputField value="{!acct.shippingState}"/>-->
    </p> 
  </div>
  
   <div class="form-group">
    <label for="exampleCompanyName">Postal code</label>
    
    <p> <apex:inputField Styleclass="form-control" value="{!AccountInfo.shippingPostalCode}"/> </p>
  </div>
  <div class="form-group">
    <label for="examplePhone">Phone number</label>
   
    <p> <apex:inputField Styleclass="form-control" value="{!AccountInfo.Phone}"/> </p>
  </div>
  <div class="form-group">
    <label for="exampleEmail">Email address</label>
    
    <p> <apex:inputField Styleclass="form-control" value="{!AccountInfo.Email__c}" /> </p>
  </div>
   <div class="form-group">
    <label for="exampleCompanyName">Time Zone</label>
    
    <p> <apex:inputField Styleclass="form-control" value="{!AccountInfo.Time_Zone__c}" style="padding-top: 2px;"/> </p>
    
  </div>
<div class="col-md-9">
<!--<apex:commandButton action="{!changeCompanyProfile}" value="Save" styleClass="btn btn-primary"/>-->
<input type="button" style="background:#3784DE;width:15%;height:35px;text-align:center;border-radius:2px;" value="Save" name="button" class="button" onclick="InsertCompanyProfile();"/>&nbsp;&nbsp;

<apex:commandButton action="{!cancelInsertLocation}" immediate="true" value="Cancel" styleClass="btn btn-default" style="height:35px;width:10%;"/>

</div>

</div>
</form>
</div>
</div>

</div><!-- /.container -->
</div>
        
          <!-- /.container -->
          <!-- Bootstrap core JavaScript
================================================== -->
          <!-- Placed at the end of the document so the pages load faster -->
          <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js">
          </script>
          
          <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
          <script src="js/ie10-viewport-bug-workaround.js">
          </script>
          
          </body>
      </html>
      
          </apex:form>
</apex:page>