<!--------------
Name         : LCBS_NewCompanyLocation
Created By   : Nagarajan Varadarajan
Company Name : NTT Data
Project      : LCBS
Created Date : Mar 20, 2015
Test Class   :  
Test Class URL: 
Usages       : 
Modified By  : 
---------->
<apex:page controller="LCBS_MyCompanyProfile_Controller" showChat="false" showHeader="false" sidebar="false">
  <apex:form >
  <style type="text/css">
        .inputfield { 
        width: 750px; 
        border-radius: 2px;
        }
    </style>
    <apex:includescript value="//code.jquery.com/jquery-1.11.1.min.js" / >
     <script>
        
            j$ = jQuery.noConflict();
            j$(document).ready( function () {
              j$('.dropdown-toggle').dropdown();
                
                 
            });
           
        </script>
  <html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>


    <title>Honeywell LCBS Contractor Portal</title>

    <!-- Bootstrap core CSS -->
    <apex:stylesheet value="{!URLFOR($Resource.LCBS_CSS, 'css/bootstrap.min.css')}" />
    <apex:stylesheet value="{!URLFOR($Resource.LCBS_CSS, 'css/honeywell-lcbs.css')}" />
    <apex:stylesheet value="{!URLFOR($Resource.LCBS_CSS, 'css/sticky-footer.css')}" />
    <apex:includeScript value="{!URLFOR($Resource.LCBS_JS, 'js/bootstrap.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.LCBS_JS, 'js/bootstrap.min.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.LCBS_JS, 'js/npm.js')}"/>
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
  <c:LCBSCommunityHeader />
 
<div style="background-color:#595959; color:grey;padding:20px; margin-top:-2px; text-align:center;">
            <h1>Add a New Company Location</h1>
            </div>      
<br/>
<apex:pagemessages /> <br/>
    <div class="container">

<div class="row">
<form>
  <div class="col-md-8">

  <div class="form-group">
    <label for="exampleBranchName">Company Location Name</label>  <br/>
    <apex:inputField value="{!contractor.Name}" styleClass="form-control" required="true"/></div> 
 
  <div class="form-group">
    <label for="exampleStreet">Street</label> <br/>
    <apex:inputField value="{!contractor.Address__c}" styleClass="form-control"/>
  </div>
  <div class="form-group">
    <label for="exampleCity">City</label> <br/>
   <apex:inputField value="{!contractor.City__c}" styleClass="form-control"/>
  </div>
  <div class="form-group">
    <label for="exampleCity">Country</label> <br/>
   <apex:inputField value="{!contractor.Country__c}" styleClass="form-control" style="padding-top: 2px;" />
   </div>
   <div class="form-group">
  <label for="exampleState">State</label> <br/>
   <apex:inputField value="{!contractor.State__c}" styleClass="form-control" style="padding-top: 2px;"/>
   </div>
   <!-- <apex:selectList value="{!locationcountry}" size="1" Styleclass="form-control" style="padding-top: 2px;">
            <apex:selectOptions value="{!locationcountryoption}"></apex:selectOptions>
            <apex:actionSupport event="onchange" reRender="state"/>
        </apex:selectList>
  </div>
  <div class="form-group">
  <label for="exampleState">State</label> <br/>
  
   <apex:outputPanel id="state">
            <apex:selectList value="{!locationstate}" size="1" Styleclass="form-control" style="padding-top: 2px;" disabled="{!IF(locationcountry!= NULL && locationcountry!= '' && locationcountry!= '--Please Select--',false,true)}">
                <apex:selectOptions value="{!locationstateoption}"></apex:selectOptions>
            </apex:selectList>
        </apex:outputPanel>
  </div> -->
  <div class="form-group">
    <label for="exampleZip">ZIP code</label> <br/>
   <apex:inputField value="{!contractor.Postal_Code__c}" styleClass="form-control"/>
  </div>
  <div class="form-group">
    <label for="examplePhone">Phone number</label> <br/>
   <apex:inputField value="{!contractor.Phone__c}" styleClass="form-control"/>
  </div>
  <div class="form-group">
    <label for="exampleEmail">Email address</label> <br/>
    <apex:inputField value="{!contractor.Email_Address__c}" styleClass="form-control"/>
  </div>
  <div class="form-group">
  <label for="exampleTimezone">Time Zone</label> <br/>
  <apex:inputField value="{!contractor.Time_Zone__c}" styleClass="form-control" style="padding-top: 2px;"/>
  </div>
  <apex:commandButton action="{!insertLocation}" value="Save New Company Location" styleClass="btn btn-primary" style="background:#3784DE;width:28%;height:35px;text-align:center;color:white;" />
  <apex:commandButton action="{!cancelInsertLocation}" immediate="true" value="Cancel" styleClass="btn btn-default" style="width:9%;height:35px;"/>

</div>
</form>

</div>

     

   
 </div><!-- /.container -->

  <!--  <footer class="footer">
      <div class="container">
        <div class="alert alert-success" role="alert"><span class="glyphicon glyphicon-ok"></span> Approved by product owners on March 11, 2015.</div>
      </div>
    </footer> -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
  </apex:form>
</apex:page>