<!--------------
Name         : LCBS_Thermostat_Detail_Equip
Created By   : Chiranjeevi Gogulakonda
Company Name : NTT Data
Project      : LCBS
Created Date : 
Test Class   :  
Test Class URL: 
Usages       : 
Modified By  :
---------->
<apex:page showChat="false" showHeader="false" sidebar="false" standardStylesheets="true">
  <apex:form >
    <html>
      <style>
        @font-face{
    font-family: lcbs_font;
    src: url("{
      !URLFOR($Resource.LCBS_Font)}
  ");
}
  
  </style>
  <apex:includescript value="//code.jquery.com/jquery-1.11.1.min.js" / >
    <script>
      
      j$ = jQuery.noConflict();
      j$(document).ready( function () {
        j$('.dropdown-toggle').dropdown();
        
        
      }
                        );
      
    </script>
  
    <head>
      <meta charset="utf-8"/>
      <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
      <meta name="viewport" content="width=device-width, initial-scale=1"/>
      <meta name="description" content=""/>
      <meta name="author" content=""/>
      
      
      <title>
        Honeywell LCBS Contractor Portal
      </title>
      
      <!-- Bootstrap core CSS -->
      <apex:stylesheet value="{!URLFOR("https://az771491.vo.msecnd.net/content/honeywell.lcbs.css")}"/>
      <apex:includeScript value="{!URLFOR($Resource.LCBS_JS, 'js/bootstrap.js')}"/>
      <apex:includeScript value="{!URLFOR($Resource.LCBS_JS, 'js/bootstrap.min.js')}"/>
      <apex:includeScript value="{!URLFOR($Resource.LCBS_JS, 'js/npm.js')}"/>
      
    </head>
    
    <body>
      <c:LCBSCommunityHeader />
    
    <div style="background-color:#595959; color:grey;padding:20px; margin-top:-2px; text-align:center;">
      <h1>
        Thermostat Detail
      </h1>
    </div>
    
    <div class="container">
      <br/>
      
      
      <br/>
      <br/>
      <div class="row" id="tabs">
        <ul class="nav nav-tabs">
          <li role="presentation"  >
            <a href="/apex/LCBS_Thermostat_Detail_Info"> 
           Information
            </a>
          </li>
          <li role="presentation" class="active">
            <a  href="/apex/LCBS_Thermostat_Detail_Equip"> 
             Equipment
            </a>
          </li>
          <li role="presentation">
          <a  href="/apex/LCBS_Thermostat_Detail_Alerts">
             Alerts
            </a>
          </li>
          <li role="presentation">
          <a  href="/apex/LCBS_Thermostat_Detail_Notifs">
             Notifications
            </a>
          </li>
        </ul>
        <br/>
        
        <div class="col-md-8">
          <p>RTU equipment information to go here. Manufacturer, tonnage, etc.</p>        
       
               
                    </div>
        
      </div>
      <!-- 
<input type="button" style="background:#3784DE;width:15%;height:30px;text-align:center;border-radius:5px;" value="Edit" name="button" class="button" onclick="" />
-->
     
      &nbsp;
    </div>
    
    <br/>
    
    <!--
<footer class="footer">
<div class="container">
<div class="alert alert-success" role="alert">
<span class="glyphicon glyphicon-ok">
</span>
Approved by product owners on March 11, 2015.
</div>
</div>
</footer>
-->
    
    <!-- Bootstrap core JavaScript
================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js">
    </script>
    
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="js/ie10-viewport-bug-workaround.js">
    </script>
  </body>
  </html>
  </apex:form>
  </apex:page>