<apex:page standardcontroller="Building__c"  extensions="LCBS_Building_MoreInfo_BuildInfo_Con" showChat="false" showHeader="false" sidebar="false" standardStylesheets="false">
  <apex:form >
    <html>
    <apex:includescript value="https://code.jquery.com/jquery-1.11.1.min.js" / >
    
    
    <style>
        p.ex1 {
        margin-left: 0cm;
        }   
        
        .collapse.navbar-collapse.navbar-row{
             box-shadow: 3px 0 4px -1px #888, -3px 0 4px -1px #888;   
        }
        
        .btn-default:active, .btn-default.active{
            background-color: #00ADFF;
            color: #fff;
        }
        .alert-status{
            border: 1px solid #ccc;
            padding: 20px;
        }
        input[type="checkbox"], input[type="radio"]{
                opacity: 1;
                display: inline;
        }
        
        /* Styles */
        #main-body{margin-bottom:20px;}
        .cmn-row{
            width: 100%;
        }
        .col-md-4,.col-md-3{
            padding: 0 12px;
            float: left;
        }
        .col-md-3{
            width: 25%;
        }
        .col-md-4{
            width: 33.33333333%;
        }
        .col-md-4.right,.col-md-3.right{
            text-align:right;
        }
        .col-md-4.nopadding-left,.col-md-3.nopadding-left{padding-left:0;padding-right: 20px;}
        .col-md-4.center,.col-md-3.center{
            text-align:center;
        }
        .margin-top-10{
            margin-top: 10px;
        }
        .margin-top-20{
            margin-top: 20px;
        }
        .li-margin-bottom-20 > li{
            margin-bottom: 20px;
        }
        .underline{
           /* margin-right: 50px; */
            border-bottom: 1px solid #e1e1e1;
            margin-top: 5px;
        }
        /* .tab-dropdown .dropdown{display:none;} */
        @media (max-width: 1024px){          
            .cmn-row .col-md-4,.cmn-row .col-md-3 {width: 100%;}
            .cmn-row .col-md-4.center,.cmn-row .col-md-3.center{text-align:left;}
            .cmn-row .col-md-4.right > span.bodyText, .cmn-row .col-md-3.right > span.bodyText{float: left;}
            .cmn-row .col-md-4.right, .cmn-row .col-md-3.right{text-align:center;}
            .cmn-row .col-md-4.nopadding, .cmn-row .col-md-3.nopadding{padding: 0 10rem;border-bottom: 1rem solid #eee;margin-top: 5rem;}
            .cmn-row .underline{margin-right: 0;}
            .text-center-xs{text-align:center;}
        }
        input[type="button"][value="EDIT"]{
            outline: none;
            border: none;
            cursor: pointer;
            outline: 0;
            border: 0;
            cursor: pointer;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        .bodyText{
           word-wrap: break-word;
        }
        .break-word{
           word-wrap: break-word;
        }
        .text-center{
           text-align: center;  
        } 
        .width-100{
           width: 100%; 
        }
        .primary-button:hover, .primary-button.selected{
            color: #fff;
        }
    </style>   
    
    
    <head>
      <meta charset="utf-8"/>
      <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
      <meta name="viewport" content="width=device-width, initial-scale=1"/>
      <meta name="description" content=""/>
      <meta name="author" content=""/>
      <title>Honeywell LCBS Contractor Portal</title>
          <apex:includeScript value="{!URLFOR($Resource.LCBS_JS, 'js/bootstrap.js')}"/>
          <apex:includeScript value="{!URLFOR($Resource.LCBS_JS, 'js/bootstrap.min.js')}"/>
          <apex:includeScript value="{!URLFOR($Resource.LCBS_JS, 'js/npm.js')}"/>
          <!-- <apex:includeScript value="{!URLFOR($Resource.LCBS_Font)}"/> -->
          
          <script type="text/javascript">
              j$ = jQuery.noConflict();
              console.log(j$);
              j$(document).ready( function () {
                j$('.dropdown-toggle').dropdown();  
              });      
          </script>
          
    </head>

    <body class="ng-scope">
       
       <c:LCBS_Mobile_Nav />
       
       <!--c:LCBSCommunityHeader rendered="{!!isDistributor}" />
       <c:LCBS_DistributorView_Navigation_Menu rendered="{!isDistributor}"/>-->
       <apex:actionFunction name="alert" action="{!alertsPage}"/>
       <apex:actionFunction name="controls" action="{!controlsPage}"/>
       <apex:actionFunction name="equipment" action="{!equipmentPage}"/>
       <apex:actionFunction name="addOwner" action="{!addBuildOwner}"/>
       
       <div id="body-inner" class="background">
            
            <div class="container ng-scope" ng-controller="AlertController as vm">            
            </div>
            
            <c:LCBSDistributorHeader_New_Latest />
                
            <apex:pageMessages />
                        
            <div id="ng-view-wrapper">
                <div id="ng-view" class="ng-scope">
                    <div id="main-tab" class="ng-scope">
                        <header class="clearfix">
                            <h1 class="ng-binding">{!Building__c.Name}</h1>
                        </header>
                        <div class="marginBuildingTab">
                            <building-nav-bar model="navSelected" options="navOptions">
                                <nav class="btn-group tabs clearfix">
                                    <!--<a href="javascript:void(0);" ng-repeat="option in navOptions" ng-class="{active: isActive(option)}" ng-click="activate(option)" class="btn btn-default ng-binding ng-scope">Alerts</a>
                                    <a href="javascript:void(0);" ng-repeat="option in navOptions" ng-class="{active: isActive(option)}" ng-click="activate(option)" class="btn btn-default ng-binding ng-scope">Controls</a> -->
                                    <a href="javascript:void(0);" onclick="alert();" ng-repeat="option in navOptions" ng-class="{active: isActive(option)}" ng-click="activate(option)" class="btn btn-default ng-binding ng-scope">Alerts</a> 
                                    <a href="javascript:void(0);" onclick="controls();" ng-repeat="option in navOptions" ng-class="{active: isActive(option)}" ng-click="activate(option)" class="btn btn-default ng-binding ng-scope">Controls</a>                                                                 
                                  <!--  <a href="javascript:void(0);" onclick="equipment();" ng-repeat="option in navOptions" ng-class="{active: isActive(option)}" ng-click="activate(option)" class="btn btn-default ng-binding ng-scope">Equipments</a>  -->                              
                                    <a href="javascript:void(0);" ng-repeat="option in navOptions" ng-class="{active: isActive(option)}" ng-click="activate(option)" class="btn btn-default ng-binding ng-scope active">Information</a>                                                                
                                </nav>
                                <!-- TODO -->
                                <div class="tab-dropdown">
                                    <div class="dropdown">
                                        <a aria-expanded="false" class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">Information</a>
                                        <ul class="dropdown-menu">
                                           <!-- <li><a class="headerText" href="#">Equipment</a></li>-->
                                            <li><a class="headerText" href="#">Alerts</a></li>
                                           <!-- <li><a class="headerText" href="#">Equipment</a></li> -->
                                            <li><a class="headerText" href="#">Information</a></li>
                                        </ul>
                                    </div>
                                </div>
                                
                                
                                <div id="cboBuildingTab" class="dropdown hidden-lg" style="display:none;">
                                   <!-- <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Equipment<b class="caret"></b></button>-->
                                    <ul class="dropdown-menu">
                                    <!-- ngRepeat: option in navOptions -->
                                    <li ng-repeat="option in navOptions" ng-click="selectedValue(option)" class="ng-scope"><a tabindex="-1" href="#" class="ng-binding">Alerts</a></li>
                                    <!-- end ngRepeat: option in navOptions -->
                                  <!--  <li ng-repeat="option in navOptions" ng-click="selectedValue(option)" class="ng-scope"><a tabindex="-1" href="#" class="ng-binding">Equipment</a></li> -->
                                    <!-- end ngRepeat: option in navOptions -->
                                    <li ng-repeat="option in navOptions" ng-click="selectedValue(option)" class="ng-scope"><a tabindex="-1" href="#" class="ng-binding">Information</a></li>
                                    <!-- end ngRepeat: option in navOptions -->
                                    </ul>
                                </div>
                            </building-nav-bar>
                        </div>
                    </div>
                    <!-- /# main-tab -->
                    
                    <div class="tab-content ng-scope" ui-view="content">
                        <div class="ng-scope" id="main-body">
                            <section class="main ng-scope">
                                <div class="largeLabelText margin-top-20">
                                    Building Information
                                    <span class="bodyText pull-right">
                                        <span class="bodyText" style="top: -9px;font-size: 14px;">ALERT STATUS</span>
                                        <div class="onoffswitch">
                                            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" />
                                            <label class="onoffswitch-label" for="myonoffswitch">
                                                <span class="onoffswitch-inner"></span>
                                                <span class="onoffswitch-switch"></span>
                                            </label>
                                        </div>
                                     </span>
                                </div>
                                <div class="clearfix cmn-row margin-top-20">
                                    
                                    <!-- Location -->
                                    <div class="col-md-3 nopadding-left">
                                        <div><p class="titleCaseNavigation">Location<apex:outputPanel rendered="{!IF(currentuser.contact.Role__c == 'Owner'||currentuser.contact.Role__c == 'Delegate',true,false)}"><span class="pull-right" onclick="window.location='/LCBS_BuildingInformation_Edit?Id={!Building__c.Id}'; return false;" style="cursor:pointer;"><img src="{!URLFOR($Resource.LCBS_New_Icons, 'edit_icon.png')}" /></span></apex:outputpanel></p><div class="underline"></div></div>
                                        <ul class="li-margin-bottom-20 margin-top-10">
                                            <li>
                                                <h4 class="smallLabelText margin-bottom-5">Service Level</h4>
                                                <div class="bodyText">{!Building__c.Service_Level__c}</div>
                                            </li>
                                            <li>
                                                <h4 class="smallLabelText margin-bottom-5">Name of Building</h4>
                                                <div class="bodyText">{!Building__c.Name}</div>
                                            </li>
                                            <li>
                                                <h4 class="smallLabelText margin-bottom-5">Street</h4>
                                                <div class="bodyText">
                                                    {!Building__c.Address__c} {!Building__c.Address_1__c} {!Building__c.Address_2__c} <br/>
                                                    {!Building__c.City__c} {!Building__c.State__c}  {!Building__c.Postal_Code__c} <br/>
                                                    {!Building__c.Country__c}
                                                </div>
                                            </li>
                                            <li>
                                                <h4 class="smallLabelText margin-bottom-5">Time Zone</h4>
                                                <div class="bodyText">{!Building__c.Time_Zone__c} </div>
                                            </li>
                                        </ul>
                                        
                                    </div>
                                    <!-- /. Location -->
                                    
                                    <!-- Assigned Technician-->
                                    <div class="col-md-3 nopadding-left">
                                        <div><p class="titleCaseNavigation">Assigned Technicians<apex:outputPanel rendered="{!IF(currentuser.contact.Role__c == 'Owner'||currentuser.contact.Role__c == 'Delegate',true,false)}"><span class="pull-right"  onclick="window.location='/LCBS_BuildingInformation_Edit?Id={!Building__c.Id}'; return false;" style="cursor:pointer;"><img src="{!URLFOR($Resource.LCBS_New_Icons, 'edit_icon.png')}" /></span></apex:outputpanel></p><div class="underline"></div></div>
                                        <ul class="li-margin-bottom-20 margin-top-10">
                                            <li>                                               
                                                <apex:outputPanel rendered="{!Building__c.Dispatcher__c !=NULL}">
                                                     <div class="break-word margin-bottom-20">   
                                                         <span class="bodyText">{!Building__c.Dispatcher__r.Name}</span> &nbsp;
                                                         <span class="bodyText"><apex:outputLabel styleClass="bodyText" rendered="{!Building__c.Dispatcher__r.Role__c !=NULL}">({!Building__c.Dispatcher__r.Role__c})</apex:outputLabel><br/>
                                                             {!Building__c.Dispatcher__r.Email}<br/>
                                                             {!Building__c.Dispatcher__r.Phone}
                                                         </span>
                                                     </div>
                                                </apex:outputPanel>
                                                
                                                
                                                <apex:outputPanel rendered="{!Building__c.Alternate_Dispatcher__c !=NULL}">
                                                    <div class="break-word margin-bottom-20">
                                                        <span class="bodyText">{!Building__c.Alternate_Dispatcher__r.Name}</span> &nbsp;
                                                        <span class="bodyText">
                                                        <apex:outputLabel styleClass="bodyText" rendered="{!Building__c.Alternate_Dispatcher__r.Role__c !=NULL}">({!Building__c.Alternate_Dispatcher__r.Role__c})</apex:outputLabel><br/>
                                                        {!Building__c.Alternate_Dispatcher__r.Email}<br/>
                                                        {!Building__c.Alternate_Dispatcher__r.Phone}
                                                        </span>
                                                    </div>
                                                </apex:outputPanel>
                                                
                                                
                                                <apex:outputPanel rendered="{!Building__c.Technician__c !=NULL}">
                                                    <div class="break-word margin-bottom-20">
                                                        <span class="bodyText">{!Building__c.Technician__r.Name}</span> &nbsp;
                                                        <span class="bodyText">
                                                        <apex:outputLabel styleClass="bodyText" rendered="{!Building__c.Technician__r.Role__c !=NULL}">({!Building__c.Technician__r.Role__c})</apex:outputLabel><br/>
                                                        {!Building__c.Technician__r.Email}<br/>
                                                        {!Building__c.Technician__r.Phone}
                                                        </span>
                                                    </div>
                                                </apex:outputPanel>
                                                
                                                <apex:outputPanel rendered="{!Building__c.Alternate_Technician__c !=NULL}">
                                                    <div class="break-word margin-bottom-20">
                                                        <span class="bodyText">{!Building__c.Alternate_Technician__r.Name}</span> &nbsp;
                                                        <span class="bodyText">
                                                        <apex:outputLabel styleClass="bodyText" rendered="{!Building__c.Alternate_Technician__r.Role__c !=NULL}">({!Building__c.Alternate_Technician__r.Role__c})</apex:outputLabel><br/>
                                                        {!Building__c.Alternate_Technician__r.Email}<br/>
                                                        {!Building__c.Alternate_Technician__r.Phone}
                                                        </span>
                                                   </div>
                                               </apex:outputPanel>
                                                
                                               <apex:outputPanel rendered="{!Building__c.User_5__c !=NULL}">
                                                   <div class="break-word margin-bottom-20">
                                                       <span class="bodyText">{!Building__c.User_5__r.Name}</span> &nbsp;
                                                       <span class="bodyText">
                                                       <apex:outputLabel styleClass="bodyText" rendered="{!Building__c.User_5__r.Role__c !=NULL}">({!Building__c.User_5__r.Role__c})</apex:outputLabel><br/>
                                                       {!Building__c.User_5__r.Email}<br/>
                                                       {!Building__c.User_5__r.Phone}
                                                       </span>
                                                   </div>
                                               </apex:outputPanel>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- /. Assigned Users -->
                                    
                                    <!-- Contact -->
                                    <div class="col-md-3 nopadding-left">
                                        <div><p class="titleCaseNavigation">Contact<apex:outputPanel rendered="{!IF(currentuser.contact.Role__c == 'Owner'||currentuser.contact.Role__c == 'Delegate',true,false)}"><span class="pull-right" onclick="window.location='/LCBS_BuildingInformation_Edit?Id={!Building__c.Id}'; return false;" style="cursor:pointer;"><img src="{!URLFOR($Resource.LCBS_New_Icons, 'edit_icon.png')}" /></span></apex:outputpanel></p><div class="underline"></div></div>
                                        <ul class="li-margin-bottom-20 margin-top-10">
                                            <li>
                                                <div class="bodyText">{!Building__c.First_Name__c} {!Building__c.Last_Name__c}</div>
                                                <!--<div class="smallLabelText">{!Building__c.Title__c}</div>-->
                                                <div class="bodyText">{!Building__c.City__c} <apex:outputText value=", " rendered="{!(Building__c.City__c!='') && (Building__c.Postal_Code__c!='')}"/>  {!Building__c.Postal_Code__c}</div>
                                                <div class="bodyText">{!Building__c.Country__c}</div>
                                            </li>
                                            <li>
                                                <div class="bodyText">{!Building__c.Email_Address__c}</div>
                                                <div class="bodyText">{!Building__c.Phone_Number__c}</div>                                                
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- /. Contact -->
                                    
                                    <!-- Building Owner -->
                                    <div class="col-md-3 nopadding-left">
                                        <div><p class="titleCaseNavigation">Building Owner <!-- <span class="pull-right" onclick="window.location='/LCBS_BuildingInformation_Edit?Id={!Building__c.Id}'; return false;" style="cursor:pointer;"><img src="{!URLFOR($Resource.LCBS_New_Icons, 'edit_icon.png')}" /></span> --> </p><div class="underline"></div></div>
                                        <ul class="li-margin-bottom-20 margin-top-10">
                                            
                                            <li>                                            
                                                <apex:outputPanel rendered="{!addBuildPanel}" >
                                                    <!--TODO-- The above line is not getting apex systex -- Please change class for this "smallText" to "bodyText" -->
                                                    <div class="bodyText break-word">
                                                        <div class="bodyText" style="color:#E65048;"><img src="{!URLFOR($Resource.LCBS_New_Icons, 'alert_icon.png')}" style="vertical-align: middle;top: -3px;" />&nbsp;&nbsp;No Building Owner Assigned</div>
                                                        <div class="bodyText" style="margin-top:10px;">
                                                            <span>You must assign a Building Owner to complete the set up of this building</span>
                                                        </div>
                                                        <div style="margin-top:20px;">
                                                           <a href="javascript:void(0);" onclick="addOwner();" class="secondary-button text-center width-100">assign Owner</a>
                                                        </div>
                                                    </div>
                                                </apex:outputPanel>
                                                
                                                <apex:outputPanel rendered="{!buildOwnerStatusPanel}">
                                                    <div class="row marginTop-10">
                                                        <div class="col-md-12 col-sm-12">
                                                            <div class="smallDataText break-word">
                                                              <span class="bodyText">{!build.Name}</span><br/> 
                                                              <span class="bodyText">{!build.Email_Address__c} <br/> 
                                                              {!build.Phone_Number__c}<br/> <br/>
                                                              {!build.Address__c}<br/>
                                                              {!build.City__c} 
                                                              {!build.State__c} 
                                                              {!build.Postal_Code__c} <br/> 
                                                              {!build.Country__c}<br/>
                                                              </span>
                                                        
                                                              <input type="button" class="primary-button" value="EDIT" onClick="window.location.href='/LCBS_New_Edit_BuildingOwner?id={!build.id}&buildingid={!buildingId}&act=e'"/>
                                                            </div>
                                                            <div class="marginTop-10 bodyText"> Building Owner Status: <span class="bodyText" style="color:#E65048;">{!buildingOwnerStatus}</span> </div>
                                                        </div>
                                                    </div>
                                               </apex:outputPanel>
                                                
                                            </li>
                                        
                                        </ul>
                                    </div>
                                    <!-- /. Building Owner -->
                                    
                                </div>
                                <!-- /.cmn-row -->
                                
                            </section>
                            
                        </div>
                        <!-- /# main-body -->
                    </div>
                    <!-- /. tab-content -->
                </div>
                <!-- /# ng-view -->
            </div>
            <!-- /# ng-view-wrapper -->
            
            
            <!-- Footer -->
            <c:LCBS_footer_new_latest />
            <!-- /. footer -->      
       </div>
       <!-- /# body-inner -->
    
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="js/ie10-viewport-bug-workaround.js"></script>    
    
  </body>
</html>
</apex:form>
</apex:page>