<apex:page controller="LCBSContractorPageController" sidebar="false" showChat="false" showHeader="false" >
  <!--   <apex:form id="form" >
        <html>
        <apex:includescript value="//code.jquery.com/jquery-1.11.1.min.js" / >
<script>
             j$ = jQuery.noConflict();
             j$(document).ready( function () {
             j$('.dropdown-toggle').dropdown();
             });
</script>
        <style>


body button, body .x-btn, body .btn, body .btnDisabled, body .btnCancel, body .menuButton .menuButtonButton {background:#00ADFF !important }
.contentMar{margin-top:86px}
  @media (max-width: 23.438rem ) { /*375px*/
.contentMar{
margin-top: 50px;
}
.TxtMar{
margin-top: 26px;margin-bottom:20px
}
.table-responsive .TblMar{
margin-bottom:12px !important
}
}
@media (max-width: 48.000rem ) { /*375px*/
.contentMar{
margin-top: 50px;
}
.TxtMar{
margin-top: 26px;margin-bottom:20px
}
.table-responsive .TblMar{
margin-bottom:12px !important
}
}
@media (min-width: 62.000rem ) { /*375px*/
.contentMar{
margin-top: 86px;
}
.TxtMar{
margin-top: 56px;
}
}
.table-responsive>.table>thead>tr>th, .table-responsive>.table>tbody>tr>th, .table-responsive>.table>tfoot>tr>th, .table-

responsive>.table>thead>tr>td, .table-responsive>.table>tbody>tr>td, .table-responsive>.table>tfoot>tr>td{white-space:normal !

important;padding:10px 0 10px 20px;vertical-align:middle}
@media (min-width: 768px) {
 .table-responsive>.table>thead>tr>th, .table-responsive>.table>tbody>tr>th, .table-responsive>.table>tfoot>tr>th, .table-

responsive>.table>thead>tr>td, .table-responsive>.table>tbody>tr>td, .table-responsive>.table>tfoot>tr>td .dataText {
        font-family: "HelveticaLight";
        font-size: 14pt
    }
}
@media (max-width: 375px ) {
.table-responsive>.table>thead>tr>th, .table-responsive>.table>tbody>tr>th, .table-responsive>.table>tfoot>tr>th, .table-

responsive>.table>thead>tr>td, .table-responsive>.table>tbody>tr>td, .table-responsive>.table>tfoot>tr>td .dataText {
        font-family: "HelveticaLight";
        font-size: 20pt;
    }
}
        </style>
        <apex:includescript value="//code.jquery.com/jquery-1.11.1.min.js" / >
         <script>
        
            j$ = jQuery.noConflict();
            j$(document).ready( function () {
              j$('.dropdown-toggle').dropdown();
                
                 
            });
            
            function CallJS(data){
                paraFunction(data);
            }
           
        </script>
  
    
    <apex:stylesheet value="{!URLFOR($Resource.LCBS_CSS, 'css/bootstrap.min.css')}" />

    <apex:stylesheet value="{!PAGE_CSS}"/>
    <apex:stylesheet value="{!URLFOR($Resource.LCBS_CSS, 'css/sticky-footer.css')}"/>
    <apex:includeScript value="{!URLFOR($Resource.LCBS_JS, 'js/bootstrap.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.LCBS_JS, 'js/bootstrap.min.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.LCBS_JS, 'js/npm.js')}"/>
        <body>
            <c:LCBSDistributorHeader_new />
        <div style="background:#fff" class="contentMar">
        <apex:pageMessages />    
                    
            <div style="padding-top:12px">
        <div class="col-md-6">
            <p class="messageText">Invite Contractors</p>
                <p class="dataText">
                Use the search to locate a contractor by their CPRO number <br/>
                If you are unable to find the contractor you are looking for,&nbsp;<apex:commandLink action="{!sendusMail}" value="send us an email"/></p>
               </div>
                  
                  <div class="col-md-6">  
                        <div class="pull-right TxtMar">
                            <apex:inputText value="{!sCPRONumber}" id="CPRONumber" html-placeholder="Enter CPRO Number" style="width:86%;height:10%;align:right;" />
                            <apex:commandButton value="GO" action="{!setCPRONumber}" reRender="msgs" styleClass="button pull-right" style="margin-top:0px;align:left;width:13%;height:15%" />
                        </div>                  
                   </div>
            </div>
                   
                    
                    <apex:actionFunction name="addContractor" action="{!addContractor}"/> <br/>
                    <apex:actionFunction name="ShowEmailTextBox" action="{!ShowEmailTextBoxInfo}" reRender="myPanel"/>
                    <apex:actionFunction name="SaveEmail" action="{!SaveEmailText}" reRender="myPanel">
                    <apex:param name="ContactIdd" assignTo="{!ContactIdD}" value="ContactIdd"/>
                    </apex:actionFunction>     
                    <apex:actionFunction name="paraFunction" action="{!EditEmailValue}" rerender="Panl">     
                        <apex:param id="aname" name="eValue" value="" />
                    </apex:actionFunction>   
                    <apex:outputPanel id="myPanel">
                    <apex:repeat value="{!categories}" var="a1">          
                    
                    <div class="table-responsive" style="width:98%;margin:0 auto">
                   
                    <apex:outputPanel id="Panl">
                    <table class="table table-condensed TblMar" id="tab" style="border:1px solid #ccc">
                    <thead>  
                        <tr>        
                            <th width="25%" class="labelText"><b> {!a1.Name} </b></th>
                            <th width="40%" class="labelText"></th>
                            <th width="20%" class="text-center labelText"><b> C-PRO: {!a1.EnvironmentalContractorProNumber__c} </b></th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        <apex:repeat value="{!a1.Contacts}" var="c" >
                        <tr>  
                            <td class="dataText"> {!c.FirstName} {!c.LastName} </td> 
                            <td class="dataText">
                               
                                                          
                                  
                                    <apex:outputLabel value="{!c.Email}" rendered="{!IF(c.Email != EmailEdit ,true,false)}">
                                    </apex:outputLabel>                               
                                    
                                   
                            </td>  
                            <td class="text-center dataText">  
                            
                         
                               
                            <c:Test_ContractorInviteStatus ContractorId="{!c.Id}" ContractorEmailId="{!c.email}" ContractorAccount="{!a1.Id}"/>
                            </td> 
                        </tr> 
                        </apex:repeat>
                    </tbody>    
                    </table> 
                    </apex:outputPanel>    
                   </div>
                    </apex:repeat>
                    <apex:panelGrid columns="14">                    
                            <apex:commandLink action="{!first}" value="First " title="First " rendered="{!showNumber}" ></apex:commandlink>&nbsp;
                            <apex:commandLink action="{!previous}" rendered="{!hasPrevious}" value=" Previous " title="Previous"></apex:commandlink>
                            <apex:outputLink title="<--"></apex:outputLink>
                            <apex:repeat value="{!lstTotalSize}" var="v">
                                <apex:commandLink action="{!setPageNumber}" value="{!v}" rendered="{!showNumber}" >
                                    <apex:param name="myParam" value="{!v}"/>
                                </apex:commandlink>&nbsp;
                            </apex:repeat>
                            
                            
                            <apex:commandLink action="{!next}" rendered="{!hasNext}" value=" Next "></apex:commandlink>&nbsp;
                            <apex:commandLink action="{!last}" value=" Last " title="Last " rendered="{!showNumber}" ></apex:commandlink>
                    </apex:panelGrid>
                    </apex:outputPanel>
        </div>
        </body>
        </html>
    </apex:form>    -->
</apex:page>