<apex:page standardController="Building__c" extensions="LCBSBuildingOwner_Controller" showChat="false" showHeader="false" sidebar="false" standardStylesheets="true">
    <apex:form >
   <apex:includescript value="//code.jquery.com/jquery-1.11.1.min.js" / >
    <apex:includescript value="//cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js" />
    <apex:stylesheet value="//cdn.datatables.net/1.10.4/css/jquery.dataTables.css" />
    <style>
    .noPad{padding:0 !important}
    .form-control-custom{width:300px !important;height:50px !important}
    .tab-links li.active {border:1px solid #ccc}
    </style>
        <apex:includescript value="//code.jquery.com/jquery-1.11.1.min.js" / >
<script>
             j$ = jQuery.noConflict();
             j$(document).ready( function () {
             j$('.dropdown-toggle').dropdown();
             });
</script>
      <html>
        <head>
          <meta charset="utf-8" />
          <meta http-equiv="X-UA-Compatible" content="IE=edge" />
          <meta name="viewport" content="width=device-width, initial-scale=1" />
          <meta name="description" content="" />
          <meta name="author" content="" />
          <title>
            Honeywell LCBS Contractor Portal
          </title>
          <!-- Bootstrap core CSS -->
           <apex:stylesheet value="{!URLFOR($Resource.LCBS_CSS, 'css/bootstrap.min.css')}" />
        <!--  <apex:stylesheet value="{!URLFOR($Resource.LCBS_CSS, 'css/honeywell-lcbs.css')}" /> -->
        <apex:stylesheet value="{!URLFOR('https://az771491.vo.msecnd.net/content/honeywell.lcbs.css')}"/>
         <apex:stylesheet value="{!URLFOR($Resource.LCBS_CSS, 'css/salesforce_CSS.css')}" />
          <apex:stylesheet value="{!URLFOR($Resource.LCBS_CSS, 'css/sticky-footer.css')}" />
          <apex:includeScript value="{!URLFOR($Resource.LCBS_JS, 'js/bootstrap.js')}"/>
          <apex:includeScript value="{!URLFOR($Resource.LCBS_JS, 'js/bootstrap.min.js')}"/>
          <apex:includeScript value="{!URLFOR($Resource.LCBS_JS, 'js/npm.js')}"/>
           <apex:includeScript value="{!URLFOR($Resource.LCBS_Font)}"/>
          
          
        </head>
        
        <body>
         
         
        
            <div class="container" style="background:#fff;width:100%;">
        <div>
      <c:LCBSDistributorHeader_new />
         </div>
                  
            <br/> <br/> <br/><br/> <br/>
                
            <apex:pageMessages />
            <div class="col-md-12">
             
                <p class="messageText"> {!build.name} </p> 
               
                  
                 <div class="tabs">
   
    <ul class="tab-links" style="padding-left: 0px;">
        <li ><a href="#tab1">Alerts</a></li>
        <li><a href="#tab2">Equipment</a></li>
        <li class="active"> <a href="#tab3">Information</a></li>
        
    </ul>
    </div>  
       </div>
                <apex:actionFunction name="EbuildingOwner" action="{!EbuildingOwnerSave}"/>
                <apex:actionFunction name="buildingOwner" action="{!buildingOwnerSave}"/>
                <div class="col-md-12" style="margin-left:1%;">
                 
                            <p class="labelText"> Assign a Building Owner </p> 
                         
                            <p class="dataText"> When you assign a building owner, they will receive an email requesting permission for you to create and manage the building on this website.</p><br/>
                           
                            <p class="labelText"> Assign an Existing Building Owner </p> 
                            <div class="col-md-4" style="margin-left:-1.5%;"> 
                            <apex:selectList value="{!sBuildOwner}" multiselect="false" size="1" styleClass="form-control form-control-custom">
                                <apex:selectOptions value="{!BuildingOwners}"/>
                            </apex:selectList> 
                            </div>
                           <!-- <apex:commandLink value="Cancel" style="width:50px;margin-right:3%;margin-left:3%;" action="{!buildingOwnerCancel}" />-->
                             <apex:actionFunction name="OwnerCancel" action="{!buildingOwnerCancel}" />
                          <input type="button" value="Cancel" style="margin-right:4%;" Class="secondary" onclick="OwnerCancel();"/>
                            <input type="button" value="Save" Class="primary" onclick="EbuildingOwner();"/> <br/><br/>
                         <!--   <apex:commandButton value="Save" style="width:80px" styleClass="Button-Primary" action=""/>  <br/><br/> -->
                      
                         <hr/>
                         <br/>
                         
                             
                             <div class="col-md-4" style="margin-left:-1.5%;">
                             <p class="labelText"> Assign a NEW Building Owner </p> <br/>
                             
                 <!--            <apex:outputLabel > Customer Type </apex:outputLabel>
                             <apex:selectList Styleclass="form-control">
                            
                             </apex:selectList> -->
                             <p><apex:outputLabel styleClass="noPad"> First Name </apex:outputLabel></p>
                            <p><apex:inputField Styleclass="form-control" value="{!BuldENew.First_Name__c}" /></p>
                             <p><apex:outputLabel styleClass="noPad"> Last Name </apex:outputLabel></p>
                            <p><apex:inputField Styleclass="form-control" value="{!BuldENew.Last_Name__c}" /></p>
                           
                            <p><apex:outputLabel styleClass="noPad"> Title </apex:outputLabel></p>
                            <p><apex:inputField Styleclass="form-control" value="{!BuldENew.Title__c}" /></p>
                           
                            <p><apex:outputLabel styleClass="noPad"> Email </apex:outputLabel></p>
                            <p><apex:inputField Styleclass="form-control" value="{!BuldENew.Email_Address__c}" required="true"/></p>
                            
                            <p><apex:outputLabel styleClass="noPad"> Phone Number </apex:outputLabel></p>
                            <p><apex:inputField Styleclass="form-control" value="{!BuldENew.Phone_Number__c}" /></p>
                            
                            </div>       
                            <div class="col-md-2"> </div>
                           <div class="col-md-4"> <br/> <br/> <br/>
                           <p><apex:outputLabel styleClass="noPad"> Company Name </apex:outputLabel></p>
                           <p><apex:inputField Styleclass="form-control" value="{!BuldENew.Name}" /></p>
                           <p><apex:outputLabel styleClass="noPad"> Address </apex:outputLabel></p>
                           <p><apex:inputText Styleclass="form-control" value="{!Address1}" /></p>
                           <p><apex:inputText Styleclass="form-control" value="{!Address2}" /></p>
                           <p><apex:inputText Styleclass="form-control" value="{!Address3}" /></p>
                           <p><apex:outputLabel styleClass="noPad"> Zip Code (Postal Code) </apex:outputLabel></p>
                           <p><apex:inputField Styleclass="form-control" value="{!BuldENew.Postal_Code__c}" /></p>
                           <p><apex:outputLabel styleClass="noPad"> City </apex:outputLabel></p>
                           <p><apex:inputField Styleclass="form-control" value="{!BuldENew.City__c}" /></p>
                           <p><apex:outputLabel styleClass="noPad"> Country </apex:outputLabel></p>
                           <p><apex:inputField Styleclass="form-control form-control-custom" value="{!BuldENew.Country__c}" /></p>
                           <p><apex:outputLabel styleClass="noPad"> Time Zone </apex:outputLabel></p>
                           <p><apex:inputField Styleclass="form-control form-control-custom" value="{!BuldENew.Time_Zone__c}" /></p>
                              
                            <br/><br/>
                            
                            </div>
                            
                            
                             </div>
                             <br/><br/>
                       <div style="margin-left:40%;">
                         <!-- <apex:commandLink value="Cancel" Styleclass="Secondary" style="margin-right:4%;" action="{!buildingOwnerCancel}"/> -->
                          <apex:actionFunction name="OwnerCancel" action="{!buildingOwnerCancel}" />
                          <input type="button" value="Cancel" Class="secondary" style="margin-right:4%;" onclick="OwnerCancel();"/>
                       <!--  <apex:commandButton value="Save" action="{!buildingOwnerSave}" style="width:80px;margin-left:2%;" /> -->
                          <input type="button" value="Save" Class="primary" style="width:80px;margin-left:2%;" onclick="buildingOwner();"/>
                         
                           <br/><br/><br/><br/><br/>
                           
                            </div>       
                            
               
               </div> 
               
              
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js">
            </script>
           <script src="js/bootstrap.min.js">
            </script>
            <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
            <script src="js/ie10-viewport-bug-workaround.js">
            </script>
            
        </body>
      </html>
      
    </apex:form>
  </apex:page>